<template>
  <div class="trend-page">
    <tab-wrap>
      <tab
        v-for="(t, i) in display.types"
        :key="`type-${i}`"
        :active="t === control.type"
        @click.native="changeQuery('type', t)"
      >
        {{ t | typeFilter }}
      </tab>
    </tab-wrap>
    <tab-wrap>
      <tab
        v-for="(date, i) in display.dateRanges"
        :key="`tab-${i}`"
        :active="date.key === control.dateType.key"
        @click.native="control.dateType = date"
      >
        {{ date.label }}
      </tab>
    </tab-wrap>
    <div class="control">
        <v-tabs>
          <v-button
            v-for="target in display.options"
            :key="target.key"
            class="option-tab"
            :class="{ 'active': target.key === control.target.key }"
            @click="control.target = target"
          >
            {{ target.label }}
          </v-button>
        </v-tabs>
    </div>
    <div class="content">
      <empty-block v-if="status === 'error'" class="loading-block radius-wrap">
        暂时无法取得资料
      </empty-block>
      <div
        v-else
        class="radius-wrap"
      >
        <trending-table
          :type="table.type"
          :title="table.title"
          :from="table.range.from"
          :to="table.range.to"
          :frequencyStats="table.frequencyStats"
          :results="table.results"
          class="table"
        ></trending-table>
      </div>
      <loading-block v-if="status === 'loading'" class="loading-block radius-wrap">
        <i class="el-icon-loading" />
      </loading-block>
    </div>
    <div
      v-if="paganation.display"
      class="footer"
    >
      <el-pagination
        layout="prev, pager, next, jumper"
        :current-page.sync="paganation.currentPage"
        :page-count="paganation.pages"
        :disabled="status === 'loading'"
      />
    </div>
  </div>
</template>

<script>
import fox from '@/api/fox'
import { optionMap, ballMap, typeFilter } from './optionMap'
import TabWrap from '../components/TabWrap'
import Tab from '../components/Tab'
import VButton from '@/components/Button'
import VTabs from '@/components/Tabs'
import TrendingTable from '@/components/TrendingTable'
import LoadingBlock from '../components/LoadingBlock'
import EmptyBlock from '../components/EmptyBlock'
import { ref, computed, watch, reactive } from '@vue/composition-api'

export default {
  name: 'Trend',
  components: {
    Tab,
    TabWrap,
    VButton,
    VTabs,
    TrendingTable,
    LoadingBlock,
    EmptyBlock
  },
  filters: {
    typeFilter
  },
  setup (_props, { root }) {
    // constants
    const limit = 30
    const today = root.$moment().format('YYYY-MM-DD')
    const game = computed(() => root.$store.getters['game/currentGame'])
    const dateRanges = [
      {
        label: '近 30 期',
        key: '30'
      },
      {
        label: '今日数据',
        key: 'today',
        params: {
          start_date: today,
          end_date: today
        }
      },
      {
        label: '近 2 天',
        key: 'two_ago',
        params: {
          start_date: root.$moment().clone().subtract(1, 'days').format('YYYY-MM-DD'),
          end_date: today
        }
      },
      {
        label: '近 5 天',
        key: 'five_ago',
        params: {
          start_date: root.$moment().clone().subtract(4, 'days').format('YYYY-MM-DD'),
          end_date: today
        }
      }
    ]
    // display 頁面呈現
    const display = reactive({
      types: computed(() => Object.keys(optionMap[game.value.type])),
      options: computed(() => control.type ? optionMap[game.value.type][control.type] : []),
      dateRanges
    })
    // control API相關參數
    const control = reactive({
      type: computed(() => root.$route.query.type),
      dateType: dateRanges[0],
      target: {}
    })
    // others
    const requestSymbol = ref('')
    const status = ref('ready')
    // table
    const table = reactive({
      type: '',
      title: '',
      range: computed(() => ballMap[game.value.type]),
      frequencyStats: {},
      results: []
    })
    // paganation
    const paganation = reactive({
      currentPage: ref(1),
      pages: 0,
      display: computed(() => control.dateType.key !== '30' && status.value === 'ready' && paganation.pages > 1)
    })
    // methods
    const fetchTrend = ({ resetPage }) => {
      const symbol = Symbol('request')
      requestSymbol.value = symbol
      status.value = 'loading'
      const options = Object.assign({
        limit,
        offset: (paganation.currentPage - 1) * limit,
        type: control.type,
        target: control.target.key,
        game_code: game.value.code
      }, {
        daterange: control.dateType.key,
        ...(control.dateType.params || {})
      })
      fox.fetchTrendChart(options).then(res => {
        if (requestSymbol.value !== symbol) return
        if (resetPage) paganation.currentPage = 1
        status.value = 'ready'
        paganation.pages = Math.ceil(res.count / limit)
        table.type = control.type // 跟著 result 回來再改，不然 table 欄位會先變動
        table.title = control.target.label
        table.frequencyStats = res.frequency_stats
        table.results = res.results.map(result => Object.assign(
          result,
          {
            schedule_result: root.$moment(result.schedule_result).format('YYYY-MM-DD HH:mm:ss')
          })
        )
      }).catch(() => {
        status.value = 'error'
      })
    }
    const changeQuery = (name, value) => {
      const { path, query } = root.$route
      root.$router.push({
        path,
        query: Object.assign(
          { ...query },
          {
            [name]: value
          }
        )
      }).catch(() => {})
    }
    // Init Data
    if (display.options[0]) {
      control.target = display.options[0]
    } else {
      const stop = watch(() => display.options, options => {
        if (options[0]) {
          control.target = display.options[0]
          stop()
        }
      })
    }
    watch(() => control.type, type => {
      if (display.types.includes(type)) {
        fetchTrend({ resetPage: true })
      } else { // init query, data
        table.type = display.types[0]
        changeQuery('type', display.types[0])
      }
    })
    // control change
    watch(() => control.target, () => {
      fetchTrend({ resetPage: true })
    })
    watch(() => control.dateType, () => {
      fetchTrend({ resetPage: true })
    })
    watch(() => paganation.currentPage, () => {
      fetchTrend({ resetPage: false })
    })
    return {
      table,
      control,
      display,
      paganation,
      status,
      changeQuery
    }
  }
}
</script>

<style lang="scss" scoped>
.trend-page {
  color: $white;
}
.control {
  padding: 15px 15px 0 15px;
}
.option-tab {
  flex-basis: 50px;
}
.content {
  margin: 15px;
  position: relative;
}
.table {
  width: 100%;
}
.radius-wrap {
  border-radius: 5px;
  overflow: hidden;
}
.footer {
  text-align: center;
}
</style>
