<template>
  <section id="home">
    <header role="banner">
      <h1 class="slogan">{{ slogan }}</h1>
      <p class="subhead">{{ subhead }}</p>
    </header>
    <div class="home-wrapper">
      <swiper-item id="lottery-games" title="热门游戏" titleColor="brown" :useSwiper="false">
        <div class="list">
          <div class="list-item tall">
            <div class="lottery-list">
              <router-link tag="div" :class="['lottery-item', 'link', { 'long': lotteryBackgrounds[index].longPanel }]"
                v-for="(lottery, index) in lotteryList" :key="lottery.title" :to="lottery.link"
                :style="{ backgroundImage: `url(${lotteryBackgrounds[index].image})` }"
              >
                <div class="icon" :style="{ backgroundImage: `url(${lottery.icon})` }"></div>
                <h3 class="label">{{ lottery.title }}</h3>
              </router-link>
            </div>
          </div>
          <div class="list-item tall game-hall">
            <div class="lottery-list">
              <router-link tag="div" :to="'/game'" class="lottery-item tall link">
                <h3 class="label">彩票大厅<i class="arrow right"></i></h3>
              </router-link>
            </div>
          </div>
        </div>
      </swiper-item>
      <swiper-item id="poker-games" title="热门棋牌" titleColor="blue" :useSwiper="false">
        <h2 class="title blue">热门棋牌</h2>
        <div class="list">
          <router-link
            tag="div" class="list-item link"
            v-for="(poker, index) in pokerList" :key="index" :to="poker.link"
            :style="{ backgroundImage: `url(${poker.backgroundImage})` }"
          >
            <h3 class="poker-title">{{ poker.title }}</h3>
          </router-link>
        </div>
      </swiper-item>
      <swiper-item id="promotions" title="优惠活动" titleColor="orange">
        <div class="list">
          <router-link
            tag="div" class="list-item link"
            v-for="(promotion, index) in promotionList" :key="index" :to="promotion.link"
            :style="{ backgroundImage: `url(${promotion.backgroundImage})` }"
          ></router-link>
        </div>
        <div class="list">
          <router-link
            tag="div" class="list-item link"
            v-for="(promotion, index) in promotionList" :key="index" :to="promotion.link"
            :style="{ backgroundImage: `url(${promotion.backgroundImage})` }"
          ></router-link>
        </div>
      </swiper-item>
    </div>
  </section>
</template>

<script>
import { computed } from '@vue/composition-api'
import SwiperItem from './components/SwiperItem'

export default {
  name: 'Home',
  components: {
    SwiperItem
  },
  setup (props, { root }) {
    const slogan = computed(() => root.$store.state.app.systemConfig.slogan)
    const subhead = computed(() => root.$store.state.app.systemConfig.subhead)
    // const lotteryGameClassification = computed(() => root.$store.state.game.classification)
    const lotteryBackgrounds = [
      { image: require('@/assets/homeicon/lottery/back-b-1.svg') },
      { image: require('@/assets/homeicon/lottery/back-p.svg'), longPanel: true },
      { image: require('@/assets/homeicon/lottery/back-pink.svg') },
      { image: require('@/assets/homeicon/lottery/back-y.svg') },
      { image: require('@/assets/homeicon/lottery/back-g.svg') },
      { image: require('@/assets/homeicon/lottery/back-b-1.svg'), longPanel: true },
      { image: require('@/assets/homeicon/lottery/back-y-2.svg') },
      { image: require('@/assets/homeicon/lottery/back-p.svg') }
    ]
    const lotteryList = [
      {
        title: '时时彩',
        categoryCode: 'time-lottery',
        link: '/',
        icon: require('@/assets/homeicon/lottery/10-icon.svg')
      },
      {
        title: '六合彩',
        categoryCode: 'mark6',
        link: '/',
        icon: require('@/assets/homeicon/lottery/6-icon.svg')
      },
      {
        title: '牛牛',
        categoryCode: 'nn',
        link: '/',
        icon: require('@/assets/homeicon/lottery/boat-icon.svg')
      },
      {
        title: '赛车',
        categoryCode: 'pk10',
        link: '/',
        icon: require('@/assets/homeicon/lottery/3-icon.svg')
      },
      {
        title: '快乐8',
        categoryCode: 'kl8',
        link: '/',
        icon: require('@/assets/homeicon/lottery/3-icon.svg')
      },
      {
        title: '快3',
        categoryCode: 'k3',
        link: '/',
        icon: require('@/assets/homeicon/lottery/6-icon.svg')
      },
      {
        title: '蛋蛋',
        categoryCode: 'dd',
        link: '/',
        icon: require('@/assets/homeicon/lottery/60-icon.svg')
      },
      {
        title: '11选5',
        categoryCode: '11pick5',
        link: '/',
        icon: require('@/assets/homeicon/lottery/car-icon.svg')
      }
    ]
    const pokerList = [
      { title: '开元棋牌', backgroundImage: require('@/assets/homeicon/poker/ky-game.svg'), link: '/board/3' },
      { title: '歡樂棋牌', backgroundImage: require('@/assets/homeicon/poker/happy-game.jpg'), link: '/board/4' }
    ]
    const promotionList = [
      { backgroundImage: require('@/assets/homeicon/promotion/send-envelope.svg'), link: '/' },
      { backgroundImage: require('@/assets/homeicon/promotion/friends-envelope.svg'), link: '/' },
      { backgroundImage: require('@/assets/homeicon/promotion/register-reward.svg'), link: '/' }
    ]
    return {
      slogan,
      subhead,
      lotteryBackgrounds,
      lotteryList,
      pokerList,
      promotionList
    }
  }
}
</script>

<style lang="scss" scoped>
$panel-width: 177px;
$long-panel-width: 344px;
$panel-height: 190px;
$panel-space: 12px;
$panel-radius: 5px;

$arrow-active: #f66367;
$arrow-disabled: #3e4453;

section {
  width: 100%;
  color: $white;
  font-family: PingFangSC;
}
.home-wrapper {
  max-width: $home-width;
  margin: 0 auto;
}
header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: $home-width;
  height: 210px;
  margin: 0 auto;
  text-align: center;
  .slogan {
    height: 51px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.28;
  }
  .subhead {
    height: 25px;
    font-size: 18px;
  }
}
.list {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  .list-item {
    position: relative;
    height: $panel-height;
    width: 100%;
    margin-right: $panel-space;
    border-radius: $panel-radius;
    background-size: cover;
  }
  .tall {
    height: $panel-height * 2 + $panel-space;
  }
  .list-item:last-child {
    margin-right: 0;
  }
  .game-hall {
    width: $panel-width;
    background: url("~@/assets/homeicon/lottery/back-g-b.svg") no-repeat;
  }
}
.lottery-list {
  display: flex;
  flex-wrap: wrap;
  .lottery-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: $panel-width;
    height: $panel-height;
    margin: 0 $panel-space $panel-space 0;
    background-size: cover;
    border-radius: $panel-radius;
    &.long {
      width: $long-panel-width;
    }
    &.tall {
      height: $panel-height * 2 + $panel-space;
    }
    &:nth-child(4n) {
      margin-right: 0;
    }
    &:nth-last-child(-n + 4) {
      margin-bottom: 0;
    }
    &:only-child {
      margin-right: 0;
    }
    .icon {
      width: 150px;
      height: 80px;
      margin-bottom: 15px;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .label {
      height: 20px;
      font-size: 18px;
    }
  }
}
.poker-title {
  position: absolute;
  top: 142px;
  left: 50%;
  margin-left: -50px;
  width: 100px;
  font-size: 18px;
  text-align: center;
}
.link {
  cursor: pointer;
}
.arrow {
  display: inline-block;
  padding: 5px;
  border: solid $white;
  border-width: 0 1px 1px 0;
  cursor: pointer;
  &.right {
    transform: rotate(-45deg);
  }
  &.left {
    transform: rotate(135deg);
  }
}
</style>
