<template>
  <div
    :class="['v-input', { 'is-disabled': disabled }]"
    @mouseenter="hovering = true"
    @mouseleave="hovering = false">
    <div
      v-if="prefixIcon"
      :class="[
        'v-input-prefix',
        `${prefixIcon}-prefix`
      ]">
    </div>
    <input
      :id="id"
      :tabindex="tabindex"
      :class="[
         'v-input-inner',
         `v-input-theme-${theme}`,
          `${size}-size`
        ]"
      v-bind="$attrs"
      :type="type"
      :disabled="disabled"
      :readonly="readonly"
      :autocomplete="autocomplete"
      :placeholder="placeholder"
      ref="input"
      @input="handleEvent.input"
      @focus="handleEvent.focus"
      @blur="handleEvent.blur"
      @change="handleEvent.change"
      :aria-label="label">
  </div>
</template>

<script>
import { ref, computed } from '@vue/composition-api'
export default {
  name: 'Input',
  props: {
    id: String,
    value: [String, Number],
    size: {
      type: String,
      validator: value =>
        ['small', 'medium', 'large'].indexOf(value) !== -1
    },
    resize: String,
    form: String,
    disabled: Boolean,
    readonly: Boolean,
    type: {
      type: String,
      default: 'text'
    },
    autosize: {
      type: [Boolean, Object],
      default: false
    },
    autocomplete: {
      type: String,
      default: 'off'
    },
    suffixIcon: String,
    prefixIcon: {
      type: String,
      validator: value =>
        ['member', 'password', 'security'].indexOf(value) !== -1
    },
    label: String,
    clearable: {
      type: Boolean,
      default: false
    },
    showPassword: {
      type: Boolean,
      default: false
    },
    showWordLimit: {
      type: Boolean,
      default: false
    },
    align: {
      type: String,
      default: 'left'
    },
    placeholder: String,
    tabindex: String,
    theme: {
      type: String,
      validator: value =>
        ['dark'].indexOf(value) !== -1
    }
  },
  setup (props, { root, emit }) {
    const input = ref(null)
    const hovering = ref(false)
    const focused = ref(false)

    const focus = () => {
      input.value.focus()
    }
    const blur = () => {
      input.value.blur()
    }

    const handleEvent = {
      blur: e => {
        focused.value = false
        emit('blur', e)
      },
      focus: e => {
        focused.value = true
        emit('focus', e)
      },
      input: e => {
        emit('input', e.target.value)
      },
      change: e => {
        emit('change', e.target.value)
      }
    }

    const inputStyle = computed(() => Object({
      'text-align': props.align
    }))

    return {
      inputStyle,
      hovering,
      focused,
      focus,
      blur,
      input,
      handleEvent
    }
  }
}
</script>

<style lang="scss" scoped>
$prefix-icon-width: 14px;

.v-input {
  position: relative;
  font-size: 12px;
  display: inline-block;
  width: 100%;
}
.v-input-prefix {
  position: absolute;
  width: $prefix-icon-width;
  height: $prefix-icon-width;
  top: 50%;
  transform: translateY(-$prefix-icon-width / 2);
  left: 12px;
  background-repeat: no-repeat;
  background-position: center;
  &.member-prefix {
    background-image: url('~@/assets/inputicon/user.svg');
  }
  &.password-prefix {
    background-image: url('~@/assets/inputicon/password.svg');
  }
  &.security-prefix {
    background-image: url('~@/assets/inputicon/security.svg');
  }
}
.v-input-inner {
  -webkit-appearance: none;
  background-color: transparent;
  background-image: none;
  border-radius: 3px;
  border: 1px solid $white;
  box-sizing: border-box;
  color: $white;
  display: inline-block;
  font-size: inherit;
  height: 24px;
  line-height: 24px;
  outline: none;
  padding: 0 15px;
  transition: border-color .2s cubic-bezier(.645,.045,.355,1);
  width: 100%;
  &::placeholder {
    color: #eee;
  }

  &.medium-size {
    padding: 0 25px 0 36px;
    height: 45px;
    border-radius: 4px;
    font-size: 13px;
   }

  &:hover {
    border-color: $blue;
  }

  &:focus {
    outline: none;
    border-color: $blue;
  }
}

.is-disabled {
  .v-input-inner {
    background-color: rgba(255, 255, 255, .3);
    border-color: #eee;
    color: #eee;
    cursor: not-allowed;

    &::placeholder {
      color: #ddd;
    }
  }
}
.v-input-theme-dark {
   background-color: #374359;
   border-color: #374359;
   &::placeholder {
     color: #9b9b9b;
   }
}
</style>
