<template>
  <div class="game-category">
    <tab-wrap>
      <tab
        v-for="category in categories"
        :key="category.id"
        :class="['category-tab-item', {active: categoryId === category.id+''}]"
        @click.native="switchCategroy(category.id)"
      >
        {{category.display_name}}
      </tab>
    </tab-wrap>
    <div class="bet-bar">
      <div class="bet-bar-input amount">
        <div class="text">金额</div>
        <v-input :value="amount" @input="handleAmount"/>
      </div>
      <v-button>下单</v-button>
      <v-button plain>重置</v-button>
    </div>
    <template v-for="(playSection, sectionIdx) in playSections">
      <alias-section
        :class="['alias-section',  {'bottom': sectionIdx === (playSections.length - 1)}]"
        v-if="playSection.aliases"
        :key="sectionIdx"
        :playSection="playSection"
        >
        <template v-slot:default="slotProps">
          <play-group
            :playGroup="slotProps.playGroup"
            :plays="playsHashMap"
            :game="currentGame"
            :index="0"
            no-title
            :config="{
              groupCol: playSection.groupCol,
              playCol: playSection.playCol,
              groupCount: 1}"/>
        </template>
      </alias-section>
      <div
        v-else-if="currentGame.type"
        :key="sectionIdx"
        :class="['play-section',  {'bottom': sectionIdx === (playSections.length - 1)}]">
        <template v-for="(playGroup, playGroupIdx) in playSection.playGroups">
          <component
            v-if="playGroup.setting"
            :key="'playGroup' + playGroupIdx"
            :is="playGroup.setting.component"
            :playGroup="playGroup"
            :setting="playGroup.setting"
            :plays="playsHashMap"
            :game="currentGame"/>
          <play-group
          v-else
          :key="'playGroup' + playGroupIdx"
          :playGroup="playGroup"
          :plays="playsHashMap"
          :game="currentGame"
          :index="playGroupIdx"
          :config="{
            groupCol: playSection.groupCol,
            playCol: playSection.playCol,
            groupCount: playSection.playGroups.length}"/>
        </template>
      </div>
    </template>
  </div>
</template>

<script>
import { computed, watch, ref } from '@vue/composition-api'
import { colorWave, tailMap } from '@/config/hkl'
import { formatPlayGroup } from '@/utils'
import { cloneDeep } from 'lodash'
import VButton from '@/components/Button'
import VInput from '@/components/Input'
import TabWrap from '../components/TabWrap'
import Tab from '../components/Tab'
import AliasSection from './components/AliasSection'
import PlayGroup from './components/PlayGroup'
const WithCode = (resolve) => require(['./components/specific/WithCode'], resolve)

export default {
  name: 'GameCategory',
  components: {
    VButton,
    VInput,
    AliasSection,
    PlayGroup,
    Tab,
    TabWrap,
    WithCode
  },
  setup (props, { root }) {
    const gameId = computed(() => root.$route.params.gameId)
    const categoryId = computed(() => root.$route.params.categoryId)
    const categories = computed(() => root.$store.state.game.categories[gameId.value] || [])
    const currentGame = computed(() => {
      return root.$store.getters['game/currentGame']
    })
    const currentPlayGroups = computed(() => {
      return root.$store.state.game.playGroups[categoryId.value]
    })
    if (!currentPlayGroups.value) {
      root.$store.dispatch('game/fetchPlayGroups', categoryId.value)
    }

    const currentCategory = computed(() => {
      if (!categories.value) {
        return {}
      }
      return categories.value.find(c => c.id + '' === categoryId.value)
    })

    const playGroups = ref([])
    const playGroupsFormatting = ref([])
    const plays = ref([])
    const playsHashMap = ref()
    const reset = () => {
      playGroups.value = []
      playGroupsFormatting.value = []
      plays.value = []
      playsHashMap.value = []
    }
    watch(categoryId, (id) => {
      reset()
      root.$store.dispatch('game/fetchPlayGroups', id)
    })
    watch([currentCategory, currentPlayGroups], ([newCategory, newPlayGroups]) => {
      let formatting = newCategory ? newCategory.formatting : []
      if (newPlayGroups && newPlayGroups.length && formatting.length) {
        let copyPlayGroups = cloneDeep(currentPlayGroups.value)
        copyPlayGroups.forEach(item => {
          item.plays.forEach(play => {
            if (item.code.endsWith('pg_clrwvs_color')) {
              play['value'] = colorWave[play.code]
            } else if (item.code.endsWith('pg_pxxmtail')) {
              play['value'] = tailMap[play.display_name]
            }
          })
        })
        playGroups.value = copyPlayGroups

        const tempPlays = []
        const tempPlaysHashMap = {}
        copyPlayGroups.forEach(g => {
          g.plays.forEach(p => {
            if (!tempPlaysHashMap[p.id]) {
              let obj = { ...p, active: false }
              tempPlaysHashMap[p.id] = obj
              tempPlays.push(obj)
            }
          })
        })

        plays.value = tempPlays
        playsHashMap.value = tempPlaysHashMap

        playGroupsFormatting.value = formatting
      }
    })
    const playSections = computed(() => {
      if (!currentGame.value) {
        return []
      }
      return formatPlayGroup(playGroups.value, playGroupsFormatting.value, currentGame.value.type)
    })

    // 下注金額
    const amount = ref('')
    const handleAmount = (val) => {
      amount.value = val
    }

    const selectPlay = (id) => {
      plays.value[id].active = !plays.value[id].active
    }
    const switchCategroy = (id) => {
      if (id + '' === categoryId.value) return
      root.$router.push({ path: `/game/${gameId.value}/${id}` })
    }
    return {
      categories,
      categoryId,
      playSections,
      plays,
      playsHashMap,
      currentGame,
      amount,
      handleAmount,
      selectPlay,
      switchCategroy
    }
  }
}
</script>

<style lang="scss" scoped>
.play-section {
  display: flex;
  flex-wrap: wrap;
}
.play-section,.alias-section {
  margin-bottom: 15px;
  padding: 0 7px;
  &:last-child {
    margin-bottom: 0;
  }
}
.bet-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  .v-button {
    margin-left: 10px;
  }
}
.bet-bar-input {
  display: flex;
  align-items: center;
  height: 24px;
  margin-left: 10px;

  &.amount {
    .v-input {
      width: 120px;
    }
  }
  .text {
    color: #fff;
    margin-right: 10px;
  }
}
</style>
