<template>
  <div class="trending-table">
    <table ref="tableRef">
      <thead>
        <tr>
          <th colspan="2" rowspan="2">
            统计类型
          </th>
          <th :colspan="nums.length" class="js-numbers-cols">{{title}} 走势</th>
          <th
            v-for="field in variousFields"
            :key="field.displayName"
            :colspan="field.subFields.length"
          >
            {{ field.displayName }}
          </th>
        </tr>
        <tr class="sub-fields">
          <th
            v-for="num in nums"
            :key="num"
          >
            {{ num }}
          </th>
          <th
            v-for="field in subFields"
            :key="field.displayName"
          >
            {{ field.displayName }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="hasFrequencyRow">
          <td colspan="2">今日总次数</td>
          <td
            v-for="(num, i) in frequencyStats.numbers"
            :key="`num-${i}`"
            class="frequency-stat"
          >
            {{ num }}
          </td>
          <td
            v-for="field in subFields"
            :key="field.displayName"
            class="frequency-stat"
          >
            {{ frequencyStats[field.key] }}
          </td>
        </tr>
        <template v-if="results.length">
          <tr
            v-for="(result, i) in results"
            :key="`result-${i}`"
            class="js-number-row"
          >
            <td class="info">{{ result.schedule_result }}</td>
            <td class="info">{{ result.issue_number }}</td>
            <td
              v-for="(num, i) in result.numbers"
              :key="`num-${i}`"
              :win-label="nums[i]"
              class="number"
              :class="num === 0 ? 'win' : ''"
            >
              {{ num }}
            </td>
            <td
              v-for="field in subFields"
              :key="field.displayName"
              :win-label="field.key | resultFilter"
              :class="[
                field.key,
                result[field.key] === 0 ? 'win' : ''
              ]"
            >
              {{ result[field.key] }}
            </td>
          </tr>
        </template>
      </tbody>
    </table>
    <canvas id="trending-chart" ref="canvasRef"></canvas>
  </div>
</template>

<script>
import { computed, onUpdated, ref, onMounted } from '@vue/composition-api'
import { fieldsMap } from './fields'

export default {
  name: 'TrendingTable',
  props: {
    type: String,
    title: {
      type: String,
      default: '总和'
    },
    from: {
      type: Number,
      default: 0
    },
    to: {
      type: Number,
      default: 5
    },
    frequencyStats: Object,
    results: Array
  },
  filters: {
    resultFilter (name) {
      switch (name) {
        case 'backward':
          return '反'
        case 'repeat':
          return '重'
        case 'forward':
          return '正'
        case 'odd':
          return '单'
        case 'even':
          return '双'
        case 'bigger':
          return '大'
        case 'small':
          return '小'
        case 'front':
          return '前'
        case 'behind':
          return '后'
      }
    }
  },
  setup (props) {
    const tableRef = ref(null)
    const variousFields = computed(() => props.type ? fieldsMap[props.type] : [])
    const subFields = computed(() =>
      variousFields.value.reduce(
        (acc, field) => acc.concat(field.subFields),
        []
      )
    )
    const hasFrequencyRow = computed(() => Object.keys(props.frequencyStats).length)
    const nums = computed(() => // 球, ex: 0 ~ 9
      Array.from(Array(props.to - props.from + 1))
        .map((_, i) => props.from + i)
    )
    const canvasRef = ref(null)
    const cavnasSetting = {
      lineWidth: 3,
      strokeColor: '#3c8efe',
      pixelRate: 2
    }
    const getCanvasPosition = () => {
      if (!props.results.length) return {}
      const tableEl = tableRef.value
      const nodes = tableEl.querySelectorAll('td.number.win')
      const firstRowEl = tableEl.querySelector('.js-number-row')
      const numColsEl = tableEl.querySelector('.js-numbers-cols')
      const top = firstRowEl.offsetTop
      const left = firstRowEl.querySelector('.number').offsetLeft
      const width = numColsEl.getBoundingClientRect().width
      const height = tableEl.getBoundingClientRect().height - top
      const positions = Array.from(nodes).map(node => {
        const { width, height } = node.getBoundingClientRect()
        const x = node.offsetLeft - left + width / 2
        const y = node.offsetTop - top + height / 2
        return { x, y }
      })
      return {
        top,
        left,
        width,
        height,
        positions
      }
    }

    const draw = ({ lineWidth, strokeColor, pixelRate = 1 } = {}) => {
      const canvas = canvasRef.value
      const ctx = canvas.getContext('2d')
      if (!props.results.length) {
        ctx.clearRect(0, 0, canvas.width, canvas.height)
        return
      }
      const {
        top,
        left,
        width,
        height,
        positions
      } = getCanvasPosition()
      canvas.style.top = top + 'px'
      canvas.style.left = left + 'px'
      canvas.style.width = width + 'px'
      canvas.width = width * pixelRate
      canvas.height = height * pixelRate

      const firstPos = positions.shift()
      ctx.lineWidth = lineWidth * pixelRate
      ctx.strokeStyle = strokeColor
      ctx.beginPath()
      ctx.moveTo(firstPos.x * pixelRate, firstPos.y * pixelRate)
      positions.forEach(pos => {
        ctx.lineTo(pos.x * pixelRate, pos.y * pixelRate)
      })
      ctx.stroke()
    }

    onMounted(() => {
      if (props.results.length) draw(cavnasSetting)
    })

    onUpdated(() => {
      draw(cavnasSetting)
    })

    return {
      canvasRef,
      variousFields,
      subFields,
      nums,
      tableRef,
      hasFrequencyRow
    }
  }
}
</script>

<style lang="scss" scoped>
$rect: 32px;
.trending-table {
  position: relative;
}
#trending-chart {
  position: absolute;
}
table {
  width: 100%;
  color: $dark;
  font-weight: normal;
}
td, th {
  box-sizing: border-box;
  border: 1px solid #667999;
  vertical-align: middle;
  text-align: center;
}
th {
  padding: 10px 5px;
  color: $white;
  background-color: #53688f;
}
.sub-fields th {
  padding: 0;
  background-color: #647daa;
  color: #b5c6e9;
  white-space: nowrap;
  width: $rect;
  height: $rect
}
td {
  background-color: $white;
  color: $dark;
  height: $rect;
  &.frequency-stat {
    color: $blue;
    padding: 0;
  }
  &.info {
    font-size: 11px;
  }
}
.forward, .repeat, .backward {
  color: #f5ae62;
}
.odd, .even {
  color: #059fc7;
}
.bigger, .small {
  color: $blue;
}
.front, .behind {
  color: #18adae;
}
.win {
  position: relative;
  &::after {
    position: absolute;
    color: $white;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    content: attr(win-label);
    z-index: 1;
  }
  &.number::after {
    background-color: $blue;
    width: 26px;
    height: 26px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
  }
  &.forward, &.repeat, &.backward {
    background-color: #f5ae62;
  }
  &.odd, &.even {
    background-color: #059fc7;
  }
  &.bigger, &.small {
    background-color: $blue;
  }
  &.front, &.behind {
    background-color: #18adae;
  }
}
</style>
