<template>
  <button
    class="v-button"
    @click="handleClick"
    :disabled="disabled"
    :type="nativeType"
    :class="[
      type,
      `${size}-size`,
      {
        'is-disabled': disabled,
        'is-plain': plain,
        'is-full-width': fullWidth
      }
    ]"
  >
    <span v-if="$slots.default"><slot></slot></span>
  </button>
</template>
<script>
export default {
  name: 'VButton',
  props: {
    type: {
      type: String,
      default: 'default',
      validator: value =>
        ['default', 'info'].indexOf(value) !== -1
    },
    icon: {
      type: String,
      default: ''
    },
    nativeType: {
      type: String,
      default: 'button'
    },
    loading: Boolean,
    disabled: Boolean,
    plain: Boolean,
    fullWidth: Boolean,
    size: {
      type: String,
      validator: value =>
        ['small', 'medium', 'large'].indexOf(value) !== -1
    }
  },
  setup (props, { root, emit }) {
    const handleClick = (evt) => {
      emit('click', evt)
    }
    return {
      handleClick
    }
  }
}
</script>

<style lang="scss" scoped>
.v-button {
  box-sizing: border-box;
  display: flex;
  height: 24px;
  justify-items: center;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  background: $blue;
  border: 1px solid;
  border-color: $blue;
  border-radius: 3px;
  color: #fff;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0 22px;
  span {
    flex-grow: 1;
  }
  &.info {
    background-color: $aquamarine;
  }
  &.is-plain {
    background: transparent;
  }
  &.medium-size {
     height: 34px;
     font-size: 14px;
   }
  &:hover {
    &:not(.is-plain) {
      background: #b3d3ff;
      border-color: #b3d3ff;
      color: $blue;
    }
    &.is-plain {
      background: rgba(255, 255, 255, .3);
    }
  }
  &.is-disabled {
    cursor: not-allowed;
    opacity: .8;
  }
  &.is-full-width {
    width: 100%;
  }
}
</style>
