<template>
  <v-dialog
    title="确认注单"
    :visible="visible" @update:visible="updatePopupVisible"
    append-to-body>
  </v-dialog>
</template>

<script>
import VDialog from '@/components/Dialog'
export default {
  name: 'BetDialog',
  props: {
    visible: {
      default: false,
      type: Boolean
    }
  },
  components: {
    VDialog
  },
  setup (props, { emit }) {
    const updatePopupVisible = (visible) => {
      emit('update:visible', visible)
    }
    return {
      updatePopupVisible
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
