<template>
  <table class="history-table">
    <thead>
      <tr>
        <th
          v-for="(field, i) in fields"
          :key="`field-${i}`"
        >
          <template v-if="['data', 'result', 'category'].includes(getDataType(field))">
            {{ field.displayName }}
          </template>
          <template v-else-if="getDataType(field)==='tabs'">
            <v-tabs class="flex-wrap">
              <v-button
                v-for="(btn, j) in field.buttons"
                :key="`fieldBtn-${j}`"
                class="flex-item"
                :class="{'active': btn.show === displayType}"
                @click="changeType(btn.show)"
              >
                {{ btn.displayName }}
              </v-button>
            </v-tabs>
          </template>
           <div v-else-if="getDataType(field)==='heads'">
            <div>
              {{ field.displayName }}
            </div>
            <div class="flex-wrap">
              <div
                v-for="(subField, k) in field.subHeads"
                :key="`subField-${k}`"
                class="flex-item"
              >
                {{ subField.displayName }}
              </div>
            </div>
          </div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr
        v-for="result in results"
        :key="result.id"
      >
        <td
          v-for="(field, i) in fields"
          :key="`field-${i}`"
        >
          <template v-if="getDataType(field)==='data'">
            {{ result[field.key] }}
          </template>
          <template v-else-if="['result', 'tabs'].includes(getDataType(field))">
            <resultNums
              :result="result"
              :type="displayType"
            />
          </template>
           <template v-else-if="getDataType(field)==='heads'">
            <div class="flex-wrap">
              <div
                v-for="(subField, j) in field.subHeads"
                :key="`subField-${j}`"
                class="flex-item"
                :class="result.result_category[subField.key]"
              >
                {{ result.result_category[subField.key] | resultFilter }}
              </div>
            </div>
          </template>
          <div
            v-else-if="getDataType(field)==='category'"
            :class="result.result_category[field.key]"
          >
            {{ result.result_category[field.key] | resultFilter }}
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script>
import { getTable } from './table'
import { resultFilter } from './table/resultFilter'
import { computed, ref } from '@vue/composition-api'
import VButton from '@/components/Button'
import VTabs from '@/components/Tabs'
import ResultNums from '@/components/ResultNums'

export default {
  name: 'HistoryTable',
  components: {
    VTabs,
    VButton,
    ResultNums
  },
  props: {
    results: Array,
    gameCode: String
  },
  filters: {
    resultFilter
  },
  setup (props) {
    const fields = computed(() => getTable(props.gameCode))

    const getDataType = field => {
      if (field.key === 'result_str') return 'result'
      else if (['schedule_result', 'issue_number'].includes(field.key)) return 'data'
      else if (field.buttons) return 'tabs'
      else if (field.subHeads) return 'heads'
      else return 'category'
    }

    const displayType = ref('number')
    const changeType = newType => {
      displayType.value = newType
    }
    return {
      displayType,
      fields,
      changeType,
      getDataType
    }
  }
}
</script>

<style lang="scss" scoped>
.bigger,
.even,
.dragon,
.composite {
  color: $red;
}
// 色波
.green {
  color: $m6-green;
}
.red {
  color: $m6-red;
}
.blue {
  color: $m6-blue;
}
table.history-table {
  font-weight: normal;
}
td, th {
  border: 1px solid #667999;
  padding: 10px 5px;
  vertical-align: middle;
  text-align: center;
}
th {
  color: $white;
  background-color: #53688f;
}
td {
  background-color: $white;
  color: $dark;
}
.flex-wrap {
  display: flex;
  .flex-item {
    flex: 1 1 0;
  }
}
</style>
