<template>
  <div :id="id" class="area">
    <div class="headline">
      <h2 :class="['title', titleColor]">{{ title }}</h2>
      <div v-if="useSwiper" class="swiper-control">
        <i :class="['arrow', 'left', { 'disabled': disablePreviousPage, 'active': !disablePreviousPage }]" @click="goPreviousPage"></i>
        <i :class="['arrow', 'right', { 'disabled': disableNextPage, 'active': !disableNextPage }]" @click="goNextPage"></i>
      </div>
    </div>
    <div class="swiper-container" :style="{ width: '1100px' }">
      <div ref="scroll" class="swiper-wrapper" :style="{ width: '3300px' }">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
import { ref, computed, onMounted, watch } from '@vue/composition-api'
export default {
  name: 'SwiperItem',
  props: {
    id: {
      type: String
    },
    title: {
      type: String,
      default: ''
    },
    titleColor: {
      type: String,
      default: ''
    },
    pageWidth: {
      type: Number,
      default: 1100
    },
    useSwiper: {
      type: Boolean,
      default: true
    }
  },
  setup ({ pageWidth }, { root, refs }) {
    const minPage = 1
    const maxPage = 3 // ISSUE: can't get slot DOM node count from composition api setup() args
    const currentPage = ref(minPage)
    const disableNextPage = computed(() => currentPage.value >= maxPage)
    const disablePreviousPage = computed(() => currentPage.value <= minPage)
    const goPreviousPage = () => { !disablePreviousPage.value && currentPage.value-- }
    const goNextPage = () => { !disableNextPage.value && currentPage.value++ }
    const swiper = page => { refs.scroll.style.transform = `translateX(${-pageWidth * (page - 1)}px)` }
    onMounted(() => {
      // swiper scroll style can't be modified until rendered
      watch(currentPage, page => { swiper(page) })
    })
    return {
      disableNextPage,
      disablePreviousPage,
      goPreviousPage,
      goNextPage
    }
  }
}
</script>

<style lang="scss" scoped>
$theme-yellow: #eba800;
$theme-blue: #51a2f7;
$theme-orange: #ff7f2c;

$arrow-active: #f66367;
$arrow-disabled: #3e4453;

.area {
  position: relative;
  margin-bottom: 50px;
  width: $home-width;
  .headline {
    display: flex;
    justify-content: space-between;
  }
  .title {
    height: 33px;
    padding: 0 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
    line-height: normal;
    border-left: 5px solid transparent;
  }
  .brown {
    border-color: $theme-yellow;
  }
  .blue {
    border-color: $theme-blue;
  }
  .orange {
    border-color: $theme-orange;
  }
  .swiper-control {
    height: 14px;
    :first-child {
      margin-right: 10px;
    }
  }
  .swiper-container {
    overflow: hidden;
  }
  .swiper-wrapper {
    display: flex;
    transition-duration: 0.6s;
  }
}
.arrow {
  display: inline-block;
  padding: 5px;
  border: solid $white;
  border-width: 0 1px 1px 0;
  cursor: pointer;
  &.right {
    transform: rotate(-45deg);
  }
  &.left {
    transform: rotate(135deg);
  }
  &.active {
    border-color: $arrow-active;
  }
  &.disabled {
    border-color: $arrow-disabled;
  }
}
</style>
