<template>
  <div>
    <div
      v-for="(group, i) in stickers"
      :key="`group-${i}`"
    >
      {{ group.display_name }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    stickers: Array
  }
}
</script>

<style lang="scss" scoped>
</style>
