<template>
  <div ref="el" class="sticker-icon-wrap">
    <div @click="togglePopup">
      <img :src="icon">
    </div>
    <transition name="fade">
      <div
        v-if="visible"
        class="stickers"
      >
        <groups :stickers="stickers" />
      </div>
    </transition>
  </div>
</template>

<script>
import eagle from '@/api/eagle'
import { ref, onUnmounted, onMounted } from '@vue/composition-api'
import Groups from './groups'

export default {
  components: {
    Groups
  },
  setup () {
    const stickers = ref([])

    // popup visibility
    const el = ref(null)
    const visible = ref(false)
    const togglePopup = () => {
      visible.value = !visible.value
    }
    eagle.fetchStickers.subscribe(res => {
      stickers.value = res
    })
    const hidePopup = e => {
      if (!el.value.contains(e.target)) visible.value = false
    }

    onMounted(() => {
      window.addEventListener('click', hidePopup)
    })

    onUnmounted(() => {
      window.removeEventListener('click', hidePopup)
    })

    return {
      el,
      visible,
      stickers,
      togglePopup,
      icon: require('@/assets/chatroomIcon/face.svg')
    }
  }
}
</script>

<style lang="scss" scoped>
.sticker-icon-wrap {
  position: relative;
  height: 100%;
}
.stickers {
  width: 400px;
  height: 200px;
  border-radius: 5px;
  background-color: $white;
  box-shadow: 0px 0px 6px 0px #333;
  position: absolute;
  top: 0;
  transform: translateY(-100%) translate(-50%, -10px);
  z-index: 1000;
}
// transition
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
</style>
