<template>
  <div @click="onClick">
    <img :src="icon" alt="">
    <input
      type="file"
      ref="fileInput"
      class="hidden-input"
      accept="image/*"
      @change="uploadImg"
    >
  </div>
</template>

<script>
import { ref, reactive, computed } from '@vue/composition-api'
import { useStore } from '@/hooks'
import eagle from '@/api/eagle'

export default {
  name: 'Tool-ImageUploader',
  setup () {
    const store = useStore()
    const user = reactive(store.value.state.user)
    const lastMessage = computed(() => store.value.state.chatroom.messages.slice().pop())
    const ws = computed(() => store.value.state.chatroom.ws)
    const fileInput = ref(null)

    const onClick = () => {
      fileInput.value.click()
    }
    const uploadImg = e => {
      const files = e.target.files
      if (!files.length) return

      const file = files[0]
      if (!/image\//.test(file.type)) {
        window.alert('文件格式不正确')
        return
      }
      if (file.size > 1024 * 1024) {
        window.alert('图片尺寸太大，请选择较小尺寸的图片。')
        e.target.value = ''
        return
      }
      sendImg(file).then(() => {
        e.target.value = ''
      })
    }

    const sendImg = (file, link) => {
      let fakeInstantMessage = {
        id: `fake-${lastMessage.value.id + 1}`,
        type: 'image',
        sender: {
          username: user.username
        },
        content: URL.createObjectURL(file)
      }
      let formData = new FormData()
      formData.append('receiver', ws.value.roomId)
      formData.append('image', file)
      if (link) {
        formData.append('link', link)
        fakeInstantMessage = Object.assign(fakeInstantMessage, {
          optional_field: {
            link
          }
        })
      }
      store.value.commit('chatroom/appendMessage', fakeInstantMessage)
      return eagle.sendImg(formData).then(data => {
        if (!data.success) {
          // ...
        }
      }).catch(_error => {
        // this.$message.warning(msgFormatter({ msg: errRes.data.messages }))
      })
    }
    return {
      onClick,
      fileInput,
      uploadImg,
      icon: require('@/assets/chatroomIcon/image.svg')
    }
  }
}
</script>

<style lang="scss" scoped>
.hidden-input {
  display: none;
}
</style>
