<template>
  <div>
    <img :src="icon" alt="">
  </div>
</template>

<script>
export default {
  name: 'Tool-RedEvelopde',
  setup () {
    return {
      icon: require('@/assets/chatroomIcon/red-envelope.svg')
    }
  }
}
</script>

<style lang="scss" scoped>
</style>
