<template>
  <nav class="navigation">
    <div class="flex">
      <ul class="m-t">
        <nav-item v-for="item in links.main" :key="item.name" :item="item"/>
      </ul>
      <div class="divider"></div>
      <div class="label m-b">活动</div>
      <ul>
        <nav-item v-for="item in links.campaign" :key="item.name" :item="item"/>
      </ul>
      <div class="divider"></div>
    </div>
    <div class="flex scroll">
      <div class="label m-b">财务</div>
      <ul>
        <nav-item v-for="item in links.remit" :key="item.name" :item="item"/>
      </ul>
      <div class="divider"></div>
      <div class="label m-b">報表</div>
      <ul>
        <nav-item v-for="item in links.report" :key="item.name" :item="item"/>
      </ul>
      <div class="divider"></div>
      <div class="label m-b">
        <span>帐户</span>
        <div :class="['arrow', {active: accountArrowActive}]" @click="accountArrowActive = !accountArrowActive">
          <svg width="100%" height="100%" viewBox="0 0 18 18" fit="" preserveAspectRatio="xMidYMid meet" focusable="false"><path d="M3.5 4.5L2 6l7 7 7-7-1.5-1.5L9 10 3.5 4.5z" fill-rule="evenodd"></path></svg>
        </div>
      </div>
      <ul v-if="accountArrowActive">
        <nav-item v-for="item in links.account" :key="item.name" :item="item"/>
      </ul>
    </div>
  </nav>
</template>

<script>
import NavItem from './NavItem'
import { ref } from '@vue/composition-api'
export default {
  components: {
    NavItem
  },
  setup () {
    const accountArrowActive = ref(true)
    const links = {
      main: [
        { icon: require('@/assets/navicon/home.svg'), label: '首頁', name: 'home', path: '/' },
        { icon: require('@/assets/navicon/lottery_hall.svg'), label: '彩票大厅', name: 'lottery_hall', path: '/game' },
        { icon: require('@/assets/navicon/poker_hall.svg'), label: '棋牌大厅', name: 'poker_hall' }
      ],
      campaign: [
        { icon: require('@/assets/navicon/preferential.svg'), label: '优惠活动', name: 'preferential' },
        { icon: require('@/assets/navicon/interest.svg'), label: '利息宝', name: 'interest' }
      ],
      remit: [
        { label: '转帐充值', name: 'remit_remit' },
        { label: '额度转换', name: 'remit_credit_conversion' },
        { label: '申请取款', name: 'remit_withdraw' }
      ],
      report: [
        { label: '转帐充值', name: 'report_remit' },
        { label: '额度转换', name: 'report_credit_conversion' },
        { label: '申请取款', name: 'report_withdraw' }
      ],
      account: [
        { label: '帐号总览', name: 'overview' },
        { label: '积分纪录', name: 'rank_history' },
        { label: '我的关注', name: 'followees' },
        { label: '我的推荐', name: 'referrals' },
        { label: '站內信', name: 'message' }
      ]
    }

    return {
      links,
      accountArrowActive
    }
  }
}
</script>

<style lang="scss" scoped>
.v-leave {
  opacity: 1;
}
.v-leave-to {
  opacity: 0;
}
.v-enter {
  opacity: 0;
}
.v-enter-active {
  transition: opacity 2s;
}
.v-enter-to {
  opacity: 1;
}

ul {
  width: 100%;
  &.m-t {
    margin-top: 14px;
  }
}

.divider {
  width: 100%;
  height: 1px;
  background: #3b414b;
  margin: 16px 0 15.5px 0;
}

.navigation {
  display: flex;
  flex-direction: column;
  height: 100%;
  background: $dark;
  transition-duration: .5s;
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  width: 177px;
  border-right: 1px solid #3b414b;
  .label {
    width: 100%;
    position: relative;
    font-size: 12px;
    font-weight: 500;
    margin-left: 16px;
    color: #4d586f;
    &.m-b {
      margin-bottom: 20px;
    }
  }
}

.arrow {
  cursor: pointer;
  opacity: .5;
  position: absolute;
  top: 5px;
  right: 30px;
  fill: #fff;
  width: 12px;
  height: 12px;
  transform-origin: center;
  transition: transform .3s ease-in-out;
  &.active {
    transform: rotate(180deg);
  }
}

.scroll {
  overflow: hidden;
  overflow-y: auto;
}

@media only screen and (max-width: 1280px) {
  .navigation {
    width: 70px;
    .label {
      margin-left: 0;
      text-align: center;
    }
    .flex {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
    .arrow {
      display: none;
    }
  }
}
</style>
