<template>
  <li :class="navClassObject" @click="changeActive(navItem)">
    <img :src="navItem.icon" v-if="navItem.icon"/>
    <span :class="labelClassObject">{{navItem.label}}</span>
  </li>
</template>

<script>
import { computed } from '@vue/composition-api'

export default {
  name: 'NavItem',
  props: {
    item: {
      type: Object,
      required: true
    }
  },
  setup (props, { root }) {
    const store = root.$store
    const navClassObject = computed(() => (
      {
        'nav-item': true,
        'active': props.item.name === store.getters.activeLink,
        'no-icon': !props.item.icon
      }
    ))

    const labelClassObject = computed(() => (
      {
        'nav-item-label': true,
        'no-icon': !props.item.icon
      }
    ))

    const changeActive = item => {
      store.commit('app/changeActiveLink', item.name)
      if (item.path) {
        root.$router.push({ path: item.path })
      }
    }

    return {
      changeActive,
      navClassObject,
      labelClassObject,
      navItem: props.item
    }
  }
}
</script>

<style lang="scss" scoped>
.nav-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px 0 10px 16px;
  transition-duration: .5s;

  &:hover {
    transition-duration: .5s;
    background: $nav-hover-color;
  }

  .nav-item-label {
    margin-left: 15px;
    &.no-icon {
      margin-left: 0;
    }
  }

  img {
    height: 22px;
    width: 22px;
  }
}
.active {
  font-weight: 500;
  background: $nav-active-color;
}

@media only screen and (max-width: 1280px) {
  .nav-item {
    padding: 10px 0;
    &.no-icon {
      display: none;
    }
    img {
      padding: 0;
      margin: 0 auto;
    }
    .nav-item-label {
      display: none;
    }
  }
}
</style>
