<template>
  <div class="login-form-container">
    <div class="login-image"></div>
    <div class="login-form">
      <div class="login-header">
        <div class="login-title">登录</div>
        <div class="login-link">
          <router-link tag="div" :to="`/register`">注册</router-link>
          <div class="bar"></div>
          <div @click="trial">试玩</div>
        </div>
      </div>
      <div class="form-item">
        <div class="form-label">
          <label for="m-username">帐号</label>
        </div>
        <v-input
          id="m-username"
          v-model="user.username"
          ref="usernameInput"
          theme="dark"
          prefixIcon="member"
          size="medium"
          placeholder="请输入帐号">
        </v-input>
      </div>
      <div class="form-item">
        <div class="form-label">
          <label for="m-password">密码</label>
        </div>
       <v-input
          id="m-password"
          v-model="user.password"
          ref="passwordInput"
          theme="dark"
          prefixIcon="password"
          size="medium"
          type="password"
          placeholder="请输入密码">
        </v-input>
      </div>
      <v-button full-width size="medium" @click="login">登录</v-button>
    </div>
  </div>
</template>

<script>
import { ref, reactive } from '@vue/composition-api'
import VButton from '@/components/Button'
import VInput from '@/components/Input'
export default {
  name: 'Login',
  components: {
    VInput,
    VButton
  },
  setup (props, { root }) {
    const user = reactive({
      username: '',
      password: '',
      verification_code0: '',
      verification_code1: ''
    })
    const usernameInput = ref(null)
    const passwordInput = ref(null)
    const login = () => {
      if (!user.username || !user.password) {
        usernameInput.value && usernameInput.value.focus()
        return
      }
      root.$store.dispatch('user/login', { user })
        .then(result => {
          const next = root.$route.query.next || '/'
          root.$router.push(next)
        }).catch(errorMsg => {
          if (errorMsg.data && errorMsg.data.auth_req === 1) {
            // fetchCaptcha()
          }
        // error = errorMsg.msg
        })
    }
    const trial = () => {
      root.$store.dispatch('user/trial')
        .then(result => {
          const next = root.$route.query.next || '/'
          root.$router.push(next)
          // root.sendGaEvent({ action: '試玩', category: '遊客' })
        })
    }
    return {
      user,
      usernameInput,
      passwordInput,
      login,
      trial
    }
  }
}
</script>

<style lang="scss" scoped>
.login-form-container {
  display: flex;
  width: 100%;
  height: 374px;
}
.login-image {
  width: 310px;
  height: 374px;
  background-image: url('~@/assets/entryicon/login-right.svg');
}
.login-form {
  flex: 1;
  padding: 19px 54px 54px;
}
.login-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 13px;
  border-bottom: 2px solid $white;
  margin-bottom: 32px;
}
.login-title {
  font-size: 20px;
  font-weight: 600;
}
.login-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:85px;
  color: $blue;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  .bar {
    margin: auto 0;
    width: 1px;
    height: 13px;
    background-color: $blue;
  }
}
.form-item {
  margin-bottom: 16px;
}
.form-label {
  margin-bottom: 10px;
}
.v-button {
  margin-top: 40px;
}
</style>
