<template>
  <div class="register-container">
    <h1 class="register-title">新用户注册</h1>
    <form class="register-form">
      <filter-item for="username" label="帐号">
        <v-input v-model="user.username" theme="dark" prefixIcon="member" size="medium" placeholder="请输入6~15位英文及数字"/>
      </filter-item>
      <filter-item for="password" label="密码">
        <v-input v-model="user.password" theme="dark" prefixIcon="password" size="medium" placeholder="请输入6~15位英文及数字"/>
      </filter-item>
      <filter-item for="username" label="确认密码">
        <v-input v-model="user.confirm_password" theme="dark" prefixIcon="password" size="medium" placeholder="请再次输入密码"/>
      </filter-item>
      <filter-item for="username" label="真实姓名">
        <v-input v-model="user.real_name" theme="dark" prefixIcon="member" size="medium" placeholder="请注册本人真实姓名，注册完成后无法修改"/>
      </filter-item>
      <filter-item for="username" label="取款號碼">
        <v-input v-model="user.withdraw_password" theme="dark" prefixIcon="security" size="medium" placeholder="请输入6位数字"/>
      </filter-item>
      <filter-item for="username" label="验证码">
        <div class="captcha-input">
          <v-input class="captcha-inner-input" v-model="user.verification_code_1" theme="dark" size="medium"/>
          <div class="captcha-refresh" @click="fetchCaptcha">
            <div class="captcha-refresh-icon"></div>
          </div>
        </div>
        <img class="captcha-image" :src="captchaSrc" />
      </filter-item>
      <filter-item>
        <router-link tag="div" class="alert" to="/user-agreement">
          <div class="alert-icon"></div>
          <div>注册即代表您已阅读并同意用户协议</div>
        </router-link>
      </filter-item>
      <filter-item>
        <v-button size="medium" @click="cancel">取消</v-button>
        <v-button size="medium">完成</v-button>
      </filter-item>
    </form>
  </div>
</template>

<script>
import { ref, reactive, computed } from '@vue/composition-api'
import ghost from '@/api/ghost'
import VInput from '@/components/Input'
import VButton from '@/components/Button'
import FilterItem from '@/components/FilterItem'

export default {
  components: {
    VInput,
    VButton,
    FilterItem
  },
  setup (props, { root }) {
    const defaultPromoCode = ''
    const user = reactive({
      username: '',
      password: '',
      confirm_password: '',
      real_name: '',
      withdraw_password: '',
      sms_code: '',
      verification_code_0: '',
      verification_code_1: '',
      hasAgree: true,
      referring_url: document.referrer
    })
    const captchaSrc = ref('')
    const loading = ref(false)
    const systemConfig = computed(() => root.$store.state.app.systemConfig)

    const cancel = () => {
      root.$router.push('/login')
    }
    const submit = () => {
      let userInfo = Object.keys(user).reduce((acc, key) => {
        let value = user[key]
        if (key !== 'r' && value !== undefined && value !== '') acc[key] = value
        return acc
      }, {})
      const referralId = root.$cookie.get('referral_id')
      if (referralId) {
        userInfo.referral_code = referralId
      }
      // 這支後端檢查的欄位是 confirmation_password
      userInfo.confirmation_password = userInfo.confirm_password
      // 如果使用者把 promo_code 清空，但網址有r ，帶入原本的推廣碼
      const promoCode = user.promo_code || defaultPromoCode
      ghost.register(userInfo, promoCode)
        .then(result => {
          loading.value = false
          root.$store.delete('referral_id')
          return root.$store.dispatch('user/login', {
            user: {
              username: user.username,
              password: user.password
            }
          })
        })
        .then(result => {
          root.$router.value.push('/')
        }, errorMsg => {
          if (systemConfig.value.smsValidationEnabled === 'false') {
            fetchCaptcha()
          }
          loading.value = false
        })
    }
    const fetchCaptcha = () => {
      ghost.fetchCaptcha().then(res => {
        captchaSrc.value = res.captcha_src
        user.verification_code_0 = res.captcha_val
      })
    }

    if (systemConfig.value.smsValidationEnabled === 'false') {
      fetchCaptcha()
    }

    return {
      user,
      cancel,
      submit,
      fetchCaptcha,
      captchaSrc
    }
  }
}
</script>

<style lang="scss" scoped>
.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 532px;
}
.register-title {
  margin: 22px 0 17px 0;
   font-size: 15px;
}
.register-form {
  transform: translateX(-60px)
}
.alert {
  display: flex;
  align-items: center;
  font-size: 13px;
  cursor: pointer;
}
.alert-icon {
  margin-right: 10px;
  width: 14px;
  height: 14px;
  background-image: url('~@/assets/entryicon/alert.svg')
}
.form-item {
  &:last-child{
    margin-top: 27px;
  }
  .captcha-input {
    display: flex;
    width: 188px;
  }
  .captcha-inner-input {
    width: 140px;
  }
  .captcha-refresh {
    display:flex;
    align-items: center;
    justify-content: center;
    width: 47px;
    background-color: $grey;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  .captcha-refresh-icon {
    width: 20px;
    height: 20px;
    background-image: url('~@/assets/entryicon/ic-header-refresh.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
  .captcha-image {
    width: 110px;
    height:45px;
    border-radius: 4px;
  }
}

</style>
