<template>
  <div class="success-container">
    <h1 class="success-title">恭喜你！ 注册成功</h1>
    <p class="success-subtitle">准备自动进入首页大厅</p>
    <div class="success-icon"></div>
  </div>
</template>

<script>
import { onMounted } from '@vue/composition-api'

export default {
  setup (props, { root }) {
    const AUTO_TRANSFER_PAGE_DELAY = 3000
    onMounted(() => {
      setTimeout(() => {
        root.$router.push('/')
      }, AUTO_TRANSFER_PAGE_DELAY)
    })
  }
}
</script>

<style lang="scss" scoped>
.success-container {
  margin: 73px auto 0 auto;
  width: 223px;
  height: 530px;
}
.success-title {
  margin-bottom: 14px;
  text-align: center;
  font-size: 18px;
}
.success-subtitle {
  margin-bottom: 40px;
  text-align: center;
  font-size: 14px;
  color: #54678f;
}
.success-icon {
  width: 223px;
  height: 240px;
  background-image: url('~@/assets/entryicon/register-success.svg');
  background-repeat: no-repeat;
}
</style>
