<template>
  <div class="agreement-container">
    <h1 class="agreement-title">用户协议</h1>
    <div class="agreement-content">
      <p>01. 使用本公司网站的客户，请留意阁下所在的国家或居住地的相关法律规定，如有疑问应就相关问题，寻求当地法律意见。</p>
      <br/>
      <p>02. 若发生遭黑客入侵破坏行为或不可抗拒之灾害导致网站故障或资料损坏、资料丢失等情况，我们将以本公司之后备资料为最后处理依据；为确保各方利益，请各会员投注后打印资料。本公司不会接受没有打印资料的投诉。</p>
      <br/>
      <p>03. 为避免纠纷，各会员在投注之后，务必进入下注明细检查及打印资料。若发现任何异常，请立即与代理商联系查证，一切投注将以本公司资料库的资料为准，不得异议。如出现特殊网络情况或线路不稳定导致不能下注或下注失败。本公司概不负责。</p>
      <br/>
      <p>04. 开奖结果以官方公布的结果为准。</p>
      <br/>
      <p>05. 如遇到官方停止销售或者开奖结果不确定的情况，本公司将对相关注单进行无效处理，并且返还下注本金。</p>
      <br/>
      <p>06. 我们将竭力提供准确而可靠的开奖统计等资料，但并不保证资料绝对无误，统计资料只供参考，并非是对客户行为的指引，本公司也不接受关于统计数据产生错误而引起的相关投诉。</p>
      <br/>
      <p>07. 本公司拥有一切判决及注消任何涉嫌以非正常方式下注之权利，在进行更深入调查期间将停止发放与其有关之任何彩金。客户有责任确保自己的帐户及密码保密，如果客户怀疑自己的资料被盗用，应立即通知本公司，并须更改其个人详细资料。所有被盗用帐号之损失将由客户自行负责。</p>
      <br/>
      <p>管理层 敬啟</p>
    </div>
    <v-button class="agreement-button" size="medium" @click="back">返回</v-button>
  </div>
</template>

<script>
import VButton from '@/components/Button'

export default {
  components: {
    VButton
  },
  setup (props, { root }) {
    const back = () => {
      root.$router.push('/register')
    }
    return {
      back
    }
  }
}
</script>

<style lang="scss" scoped>
.agreement-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 532px;
}
.agreement-title {
  margin: 20px 0 15px 0;
  font-size: 15px;
}
.agreement-content {
  margin-bottom: 18px;
  padding: 14px 12px 9px 20px;
  width: 637px;
  height: 406px;
  overflow-y: auto;
  border-radius: 10px;
  background: $white;
  color: $dark;
  font-size: 15px;
}
.agreement-button {
  margin-bottom: 17px;
  width: 150px;
}
</style>
