<template>
  <div class="history-page">
    <div class="control-body">
      <div class="label">日期</div>
      <el-date-picker
        id="date"
        type="date"
        class="input date-input"
        v-model="selectDate"
        :disabled="status === 'loading'"
        placeholder="选择日期"
        value-format="yyyy-MM-dd"
        format="yyyy-MM-dd">
      </el-date-picker>
      <div class="label">期數</div>
      <v-input
        type="number"
        class="input period-input"
        v-model="period"
        ref="periodRef"
        placeholder="输入期数"
        align="center"
        @input="periodChange()"
        :disabled="status === 'loading'"
      />
      <div class="stem" />
      <v-button
        type="info"
        :disabled="status === 'loading'"
        @click="getLatestData"
      >
        刷新數據
      </v-button>
    </div>
    <div class="result-body">
      <div v-if="status !== 'empty'" class="radius-wrap">
        <history-table
          class="table"
          :results="results"
          :game-code="currentGame.code"
        />
      </div>
      <empty-block v-else-if="status === 'empty'" class="empty-block">
        暂无资料
      </empty-block>
      <empty-block v-else-if="status === 'error'" class="empty-block">
        暂时无法取得资料
      </empty-block>
      <loading-block v-if="status === 'loading'" />
    </div>
    <div class="footer">
      <el-pagination
        v-if="pages > 1"
        layout="prev, pager, next, jumper"
        :current-page.sync="currentPage"
        :page-count="pages"
        :disabled="status === 'loading'"
      />
    </div>
  </div>
</template>

<script>
import fox from '@/api/fox'
import { ref, watch, computed } from '@vue/composition-api'
import HistoryTable from '@/components/HistoryTable'
import VInput from '@/components/Input'
import VButton from '@/components/Button'
import LoadingBlock from '../components/LoadingBlock'
import EmptyBlock from '../components/EmptyBlock'

export default {
  name: 'History',
  components: {
    VInput,
    VButton,
    LoadingBlock,
    EmptyBlock,
    HistoryTable
  },
  setup (_props, { root }) {
    const selectDate = ref(root.$moment().format('YYYY-MM-DD'))
    const rawData = ref([])
    const period = ref('')
    const currentGame = computed(() => root.$store.getters['game/currentGame'])
    const status = ref('')

    const fetchHistory = () => {
      status.value = 'loading'
      const options = {
        schedule_result_after: selectDate.value,
        schedule_result_before: selectDate.value,
        issue_number_q: '',
        game_code: currentGame.value.code,
        offset: offset.value
      }
      if (period.value) {
        options.issue_number_q = period.value
      }
      return fox.fetchHistory(options).then(history => {
        rawData.value = history
        status.value = history.results.length
          ? 'ready'
          : 'empty'
      }).catch(() => {
        status.value = 'error'
      })
    }
    const results = computed(() => rawData.value.results
      ? rawData.value.results.map(r => {
        r.schedule_result = root.$moment(r.schedule_result).format('YYYY-MM-DD hh:mm:ss')
        return r
      })
      : []
    )

    const currentPage = ref(1)
    const offset = computed(() => currentPage.value - 1)
    const pageSize = 30
    const pages = computed(() => Math.ceil(rawData.value.count / pageSize))

    watch([selectDate, currentPage], () => {
      fetchHistory()
    })

    const getLatestData = () => {
      currentPage.value = 0
      selectDate.value = root.$moment().format('YYYY-MM-DD')
      fetchHistory()
    }

    const periodRef = ref(null)
    let autoSendTimer = null
    const periodChange = e => {
      if (autoSendTimer) clearTimeout(autoSendTimer)
      autoSendTimer = setTimeout(() => {
        fetchHistory().finally(() => {
          // .
        })
      }, 500)
    }
    return {
      pages,
      period,
      periodRef,
      status,
      results,
      pageSize,
      selectDate,
      currentGame,
      currentPage,
      periodChange,
      getLatestData
    }
  }
}
</script>

<style lang="scss" scoped>
.history-page {
  color: $white;
  padding: 15px;
}
.control-body {
  display: flex;
  align-items: center;
  .label {
    white-space: nowrap;
    flex: 0 1 0;
    margin-right: 5px;
    font-size: 15px;
  }
  .input {
    margin-right: 15px;
    font-size: 12px;
  }
  .date-input {
    flex-basis: 190px;
  }
  .period-input {
    flex-basis: 120px;
  }
  .stem {
    flex-grow: 1;
  }
}
.result-body {
  position: relative;
  margin: 15px 0;
}
.radius-wrap {
  border-radius: 5px;
  overflow: hidden;
}
.table {
  width: 100%;
}
.footer {
  text-align: center;
}
</style>
