<template>
  <section id="entry">
    <div class="container">
      <div class="logo" :style="logoStyleObject">
      </div>
      <div class="panel">
        <keep-alive>
          <router-view />
        </keep-alive>
      </div>
      <bar v-if="showBar"/>
    </div>
  </section>
</template>

<script>
import { computed } from '@vue/composition-api'
import Bar from './components/Bar'

export default {
  name: 'Entry',
  components: {
    Bar
  },
  setup (props, { root }) {
    const logoStyleObject = computed(() => {
      return { 'background-image': `url(${root.$store.state.app.systemConfig.homePageLogo})` }
    })
    const showBar = computed(() => root.$route.path === '/login')
    return {
      showBar,
      logoStyleObject
    }
  }
}
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  min-width: $small_container_width;
  height: 100vh;
  min-height: 948px;
  background-image: url('~@/assets/entryicon/background.svg'), linear-gradient(117deg, #232832 2%, #2f3f60 100%);
  background-size: cover, cover;
  background-position: bottom, 50%;
  color: white;
}
.logo {
  margin: 157px 0 30px 0;
  width: 300px;
  height: 68px;
  min-height: 68px;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: contain;
}
.panel {
  display: flex;
  width: 733px;
  min-height: 374px;
  border-radius: 10px;
  background-color: #242a35;
}
</style>
