<template>
  <div class="loading-block radius-wrap">
    <i class="el-icon-loading" />
  </div>
</template>

<style lang="scss" scoped>
.loading-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #667999;
  opacity: 0.5;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $dark;
  font-size: 26px;
  z-index: 5;
}
</style>
