<template>
  <div
    class="tab-item"
    :class="{'active': active}"
  >
    <slot></slot>
  </div>
</template>

<script>
export default {
  props: {
    active: Boolean
  }
}
</script>

<style lang="scss">
.tab-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 40px;
  padding: 0 15px;
  color: #fff;
  cursor: pointer;
  &.active {
    color: $blue;
    border-bottom: 2px solid $blue;
  }
}
</style>
