<template>
  <div class="tab-wrap">
    <slot></slot>
  </div>
</template>

<style lang="scss" scoped>
.tab-wrap {
  display: flex;
  height: 40px;
  background: #495876;
  padding-left: 15px;
}
</style>
