<template>
  <header>
    <div class="logo-container">
      <div class="logo" :style="logoStyleObject"/>
    </div>
    <div class="user-info">
      <div class="icon-group">
        <img class="icon" src="../../assets/navicon/customer-service.svg">
        <img class="icon" src="../../assets/navicon/messages.svg">
      </div>
      <div>
        <div class="avatar" :style="{color: 'red', 'background-image': `url(${avatar})`}"></div>
        <div>
          <div></div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import { computed } from '@vue/composition-api'
export default {
  setup (props, { root }) {
    const logoStyleObject = computed(() => {
      return { 'background-image': `url(${root.$store.state.app.systemConfig.homePageLogo})` }
    })
    const userInfo = computed(() => {
      return root.$store.state.user
    })
    const avatar = computed(() => {
      return userInfo.value.avatar || require('@/assets/user/avatar.png')
    })

    return {
      logoStyleObject,
      avatar
    }
  }
}
</script>

<style lang="scss" scoped>
header {
  box-sizing: border-box;
  display: flex;
  height: $header-height;
  background-color: $dark;
  border-bottom: 1px solid #3b414b;
}
.logo-container {
  width: 177px;
  .logo {
    cursor: pointer;
    width: 200px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: 0;
    background-size: contain;
  }
}
.user-info {
  min-width: 1100px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  .icon-group {
    margin: 0 20px;
    .icon {
      width: 30px;
      height: 30px;
      &:first-child {
        margin-right: 15px;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  .logo-container {
    width: 70px;
  }
}
</style>
