// overwrite element-ui
// date-picker
.el-date-editor {
  .el-input__inner {
    -webkit-appearance: none;
    background-color: transparent;
    background-image: none;
    border-radius: 3px;
    border: 1px solid #fff;
    box-sizing: border-box;
    color: #fff;
    display: inline-block;
    font-size: inherit;
    height: 24px;
    line-height: 24px;
    outline: none;
    padding: 0 15px;
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    text-align: center;
    &:disabled {
      background-color: rgba(255, 255, 255, .3) !important;
      border-color: #eee;
      color: #eee;
      cursor: not-allowed;
    }
    &:focus {
      outline: none;
      border-color: $blue;
    }
  }
  .el-input__prefix, .el-input__suffix {
    display: none;
  }
}
// paganation
.el-pagination {
  .btn-prev {
    border-radius: 5px 0 0 5px;
  }
  .btn-next {
    border-radius: 0 5px 5px 0;
  }
  .number {
    border-left: 1px solid #e6ebec;
  }
  .number.active {
    color: #fff;
    background-color: $blue;
  }
  .more {
    background-color: transparent;
    color: $blue;
    &::before {
      color: $blue;
    }
  }
  .el-pagination__jump {
    color: #fff;
  }
}