@mixin ball($size:22px) {
  height: $size;
  width: $size;
  font-size: 14px;
  line-height: $size;
  text-align: center;
  border-radius: 50%;
  &::before {
    color: #fff;
  }
}

.result-time-lottery,
.result-instant-lottery,
.result-fc3d {
  @include ball;
  background-color: #5e97e4;
  @for $num from 0 through 9 {
    &.resultnum-#{$num} {
      &::before {
        content: '#{$num}';
      }
    }
  }
}

// 六合彩
@mixin gradient($color1, $color2) {
  background: radial-gradient(circle at 30% 30%,$color1, $color2 20% 50%, #000 100%);
}
$red-indexes: 1,2,7,8,12,13,18,19,23,24,29,30,34,35,40,45,46;
$blue-indexes: 3,4,9,10,14,15,20,25,26,31,36,37,41,42,47,48;
$green-indexes: 5,6,11,16,17,21,22,27,28,32,33,38,39,43,44,49;
.result-mark6 {
  @include ball;
  @include gradient($m6-green-fade, $m6-green);
  &.text-plus {
    background: transparent;
    &::before {
      color: inherit;
      content: '+';
    }
  }
  @for $num from 1 through 49 {
    &.resultnum-#{$num} {
      @if index($red-indexes, $num) {
        @include gradient($m6-red-fade, $m6-red);
      } @else if index($blue-indexes, $num){
        @include gradient($m6-blue-fade, $m6-blue);
      }
      &::before {
        @if $num<10 {
          content: '0#{$num}';
        } @else {
          content: '#{$num}';
        }
      }
    }
  }
}

.result-cqlf {
  background: url("~@/assets/ball_nc_top.png") no-repeat;
  background-size: 100% 2000%;
  width: 30px;
  height: 30px;
  @for $num from 1 through 20 {
    &.resultnum-#{$num} {
      background-position: 0 (-30px * ($num - 1 ));
    }
  }
}

.result-compared {
  // 大小, 單雙
  @include ball;
  &.bigger, &.smaller, &.odd, &.even, &.equal {
    &::before {
      font-size: 12px;
    }
  }
  &.bigger::before {
    content: '大';
  }
  &.smaller::before {
    content: '小';
  }
  &.odd::before {
    content: '单';
  }
  &.even::before {
    content: '双';
  }
  &.equal::before {
    content: '和';
  }
  &.smaller, &.even {
    background-color: $aquamarine;
  }
  &.bigger, &.odd {
    background-color: $blue;
  }
  &.equal {
    background-color: #f2a955;
  }
}
