$primary: #488ded!default;
$cell-height: 35px;
$cell-border: 1px solid #e0e0e0;

$header-height: 65px;

$gradient-light-red: #ff8ca5;
$gradient-dark-red: #f76469;

$gradient-light-orange: #ffc3a0;
$gradient-dark-orange: #f2a955;

$gradient-light-blue: #2c8fff;
$gradient-dark-blue: #045bff;

$gradient-light-purple: #a9c4fd;
$gradient-dark-purple: #776edb;

$gradient-light-green: #24d5cd;
$gradient-dark-green: #029ccd;

$nav-active-color:#3f4c64;
$nav-hover-color: #2f3644;

$blue: #3c8efe;
$aquamarine: #059fc7;
$red: #f7656c;
$dark: #232832;
$white: #fff;
$grey: #53688f;

// 色波
$m6-red: rgb(238, 86, 80);
$m6-red-fade: rgba(238, 86, 80, .3);
$m6-blue: rgb(94, 151, 228);
$m6-blue-fade: rgba(94, 151, 228, .3);
$m6-green: rgb(24, 173, 174);
$m6-green-fade: rgba(24, 173, 174, .3);

$small_container_width: 1280px;
$container_width: 1440px;
$main_width: 1050px;
$form_width: 220px;


$rightmenu-width: 65px;
$home-width: 1100px;

$z-main: 100;
$z-customerservice: 101;
$z-rightmenu: 400;
$z-gamemenu: 500;
$z-header: $z-rightmenu + 1;

$global-popup-zindex: 2000;

:export {
  primary: $primary;
  popupZindex: $global-popup-zindex;
}
