<template>
  <transition
    name="dialog-fade"
    @after-enter="afterEnter"
    @after-leave="afterLeave">
    <div class="v-dialog__wrapper" v-show="visible" @click.self="handleWrapperClick" ref="dom">
      <div
        role="dialog"
        aria-modal="true"
        :aria-label="title || 'dialog'"
        class="v-dialog"
        :class="[{ 'is-fullscreen': fullscreen, 'v-dialog--center': center }, customClass]"
        :style="style"
        ref="dialog">
        <div class="v-dialog__header" v-if="title||$slots.title">
          <slot name="title">
            <span class="v-dialog__title">{{ title }}</span>
          </slot>
          <button
            type="button"
            class="v-dialog__headerbtn"
            aria-label="Close"
            v-if="showClose"
            @click="handleClose">
            <i class="v-dialog__close v-icon-close"></i>
          </button>
        </div>
        <div class="v-dialog__body" v-if="rendered"><slot></slot></div>
        <div class="v-dialog__footer" v-if="$slots.footer">
          <slot name="footer"></slot>
        </div>
      </div>
    </div>
  </transition>
</template>

<script>
import { reactive, ref, watch, computed, onMounted, onUnmounted } from '@vue/composition-api'
import { usePopup } from '@/hooks'
import { dialogZindex } from '@/style/vars.scss'
export default {
  name: 'VDialog',
  props: {
    visible: {
      type: Boolean,
      default: false
    },
    openDelay: {},
    closeDelay: {},
    title: {
      type: String,
      default: ''
    },
    appendToBody: {
      type: Boolean,
      default: false
    },
    modal: {
      type: Boolean,
      default: true
    },
    modalAppendToBody: {
      type: Boolean,
      default: true
    },
    modalFade: {
      type: Boolean,
      default: true
    },
    modalClass: {},
    lockScroll: {
      type: Boolean,
      default: true
    },
    closeOnPressEscape: {
      type: Boolean,
      default: false
    },
    closeOnClickModal: {
      type: Boolean,
      default: false
    },
    showClose: {
      type: Boolean,
      default: true
    },
    dialogStyle: Object,
    fullscreen: Boolean,
    customClass: {
      type: String,
      default: ''
    },
    beforeClose: Function,
    center: {
      type: Boolean,
      default: false
    },
    zIndex: {
      type: [Number, String],
      default: dialogZindex
    }
  },
  setup (props, { root, emit }) {
    const dialog = ref(null)
    const { visible, rendered, open, dom } = usePopup(reactive(props))
    const closed = ref(false)

    const style = computed(() => {
      let style = {}
      if (props.dialogStyle) {
        Object.assign(style, props.dialogStyle)
      }
      return style
    })

    watch(visible, val => {
      if (val) {
        closed.value = false
        emit('open')
        root.$nextTick(() => {
          dialog.value.scrollTop = 0
        })
        if (props.appendToBody) {
          document.body.appendChild(dom.value)
        }
      } else {
        if (!closed.value) emit('close')
      }
    }, { lazy: true })

    onMounted(() => {
      if (visible.value) {
        rendered.value = true
        open()
        if (props.appendToBody) {
          document.body.appendChild(dom.value)
        }
      }
    })

    onUnmounted(() => {
      // if appendToBody is true, remove DOM node after destroy
      if (props.appendToBody && dom.value && dom.value.parentNode) {
        dom.value.parentNode.removeChild(dom.value)
      }
    })

    const handleWrapperClick = () => {
      if (!props.closeOnClickModal) return
      handleClose()
    }

    const hide = (cancel) => {
      if (cancel !== false) {
        emit('update:visible', false)
        emit('close')
        closed.value = true
      }
    }

    const handleClose = () => {
      if (typeof props.beforeClose === 'function') {
        props.beforeClose(hide)
      } else {
        hide()
      }
    }

    const afterEnter = () => {
      emit('opened')
    }

    const afterLeave = () => {
      emit('closed')
    }

    return {
      dom,
      closed,
      style,
      dialog,
      handleWrapperClick,
      handleClose,
      afterEnter,
      afterLeave,
      rendered
    }
  }
}
</script>
<style lang="scss" scoped>
@import "@/style/mixins/mixins";

$--dialog-background-color: #fff;
$--border-radius-small: 2px;
$--dialog-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
$--dialog-padding-primary: 10px;
$--message-close-size: 16px;
$--color-info: #909399;
$--color-primary: #409EFF;
$--dialog-font-line-height: 24px;
$--dialog-title-font-size: 18px;
$--color-text-primary: #303133;
$--color-text-regular: #606266;
$--dialog-content-font-size: 14px;

@include b(dialog) {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  transform: translate(-50%, -50%);
  background: $--dialog-background-color;
  border-radius: $--border-radius-small;
  box-shadow: $--dialog-box-shadow;
  box-sizing: border-box;
  width: 50%;

  @include when(fullscreen) {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    overflow: auto;
  }

  @include e(wrapper) {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0;
  }

  @include e(header) {
    padding: $--dialog-padding-primary;
    padding-bottom: 10px;
  }

  @include e(headerbtn) {
    position: absolute;
    top: $--dialog-padding-primary;
    right: $--dialog-padding-primary;
    padding: 0;
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: $--message-close-size;

    .el-dialog__close {
      color: $--color-info;
    }

    &:focus, &:hover {
      .el-dialog__close {
        color: $--color-primary;
      }
    }
  }

  @include e(title) {
    line-height: $--dialog-font-line-height;
    font-size: $--dialog-title-font-size;
    color: $--color-text-primary;
  }

  @include e(body) {
    padding: 0;
    color: $--color-text-regular;
    font-size: $--dialog-content-font-size;
    word-break: break-all;
  }

  @include e(footer) {
    padding: $--dialog-padding-primary;
    padding-top: 10px;
    text-align: right;
    box-sizing: border-box;
  }

  // 内容居中布局
  @include m(center) {
    text-align: center;

    @include e(body) {
      text-align: initial;
      padding: 0;
    }

    @include e(footer) {
      text-align: inherit;
    }
  }
}
.dialog-fade-enter-active {
  animation: dialog-fade-in .3s;
}

.dialog-fade-leave-active {
  animation: dialog-fade-out .3s;
}

.v-icon-close {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  &::before, &::after {
    background-color: $--color-info;
    position: absolute;
    content: ' ';
    top: 0;
    right: 15px;
    height: 20px;
    width: 2px;
  }
  &.small {
    &::before, &::after {
      height: 15px;
    }
  }
  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@keyframes dialog-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes dialog-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}

</style>
