<template>
   <div class="marquee">
     <div class="icon"></div>
     <div class="title">公告</div>
     <div class="body" @mouseenter="triggerMarquee" @mouseleave="triggerMarquee" @click="showAnnouncement">
      <marquee-text :duration="duration" :paused="paused">
        <template v-for="(txt, index) in announcementsWithoutHTML">
          <span :key="`index${index}`">{{index + 1}}.</span>
          <span :key="`text${index}`" v-html="txt" class="text"></span>
        </template>
      </marquee-text>
     </div>
  </div>
</template>

<script>
import { ref, computed } from '@vue/composition-api'
import MarqueeText from 'vue-marquee-text-component'

export default {
  name: 'Marquee',
  components: {
    MarqueeText
  },
  setup (props, { root }) {
    const removeHTML = (strText) => {
      const regEx = /<[^>]*>/g
      return strText.replace(regEx, '')
    }
    const paused = ref(false)
    const announcements = computed(() => root.$store.state.announcement.announcements)
    const announcementsWithoutHTML = computed(() => announcements.value.map(a => removeHTML(a)))
    const duration = computed(() => announcementsWithoutHTML.value.join().length * 0.3)
    const triggerMarquee = () => { paused.value = !paused.value }
    const showAnnouncement = () => { root.$store.commit('announcement/showDialog') }
    return {
      announcementsWithoutHTML,
      duration,
      paused,
      triggerMarquee,
      showAnnouncement
    }
  }
}
</script>

<style lang="scss" scoped>
$maquree-text: #fff5cc;
$maquree-background: #2f3644;
$marquree-width: 950px;
.marquee {
  min-width: $home-width;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  background-color: $maquree-background;
  color: $maquree-text;
  font-size: 10px;
}
.icon {
  width: 14px;
  height: 14px;
  background: url("~@/assets/marqueeicon/rectangle.svg") no-repeat;
}
.title {
  width: 25px;
  height: 14px;
  padding: 0 8px;
  border-right: 1px solid $maquree-text;
  line-height: 1.4;
  white-space: nowrap;
}
.body {
  width: 950px;
  height: 14px;
  line-height: 1.4;
  cursor: pointer;
  .message {
    white-space: nowrap;
    overflow: hidden;
  }
}
.text {
  padding-right: 30px;
}
.marquee-text-text {
  padding: 0 $marquree-width / 2 0 50px;
}
</style>
