<template>
  <div class="v-tabs">
    <slot />
  </div>
</template>

<script>
export default {
  name: 'VTabs'
}
</script>

<style lang="scss" scoped>
.v-tabs {
  display: flex;
}
.v-tabs .v-button {
  font-weight: lighter;
  padding: 0 3px;
  border-radius: 0;
  background-color: transparent;
  color: $white;
  border-width: 1px 1px 1px 0;
  &:first-child {
    border-left-width: 1px;
    border-radius: 3px 0 0 3px;
  }
  &:last-child {
    border-radius: 0 3px 3px 0;
  }
  &.active {
    background-color: $blue;
  }
  &.active:hover {
    border-color: $blue;
    color: $white;
  }
}
</style>
