<template>
  <div class="chatroom-body-wrap">
    <div ref="el" class="body" @scroll="onScroll">
      <template v-if="status==='pending'">
        <div class="status-body">
          <div>聊天室加载中</div>
          <i class="el-icon-loading" />
        </div>
      </template>
      <template v-else-if="status==='disabled'">
        <div class="status-body">聊天室关闭</div>
      </template>
      <template v-else>
        <transition-group name="message" tag="div">
          <div
            v-for="msg in messages"
            :key="msg.id"
            :class="{'self': user.username === msg.sender.username}"
            class="message"
          >
            <div
              v-if="user.username !== msg.sender.username"
              class="avatar"
              :style="{ 'background-image': `url(${msg.sender.avatar_url || defaultAvatar})` }"
            />
            <div class="block">
              <div
                v-if="user.username !== msg.sender.username"
                class="nickname"
              >
                {{ msg.sender.nickname }}
              </div>
              <component
                :is="componentMap[msg.type]"
                :content="msg.content"
                :self="user.username === msg.sender.username"
                @imageLoaded="imgOnLoad"
                class="content"
              />
            </div>
          </div>
        </transition-group>
      </template>
    </div>
    <div class="cover-block">
      <button
        v-if="!atBottom && status === 'ready'"
        class="go-bottom"
        @click="scrollToBottom"
      >
        go bot
      </button>
    </div>
  </div>
</template>

<script>
import Picture from './messages/Picture'
import Message from './messages/Message'
import BetrecordSharing from './messages/BetrecordSharing'
import PredictionSharing from './messages/PredictionSharing'
import { useStore } from '@/hooks'
import { ref, computed, watch, reactive } from '@vue/composition-api'

export default {
  name: 'ChatroomBody',
  components: {
    Picture,
    Message,
    BetrecordSharing,
    PredictionSharing
  },
  setup (_props, { root }) {
    const el = ref(null)
    const store = useStore()
    const user = reactive(store.value.state.user)
    const status = computed(() => store.value.state.chatroom.status)
    const messages = computed(() =>
      store.value.state.chatroom.messages
    )
    // scroll behavior
    const bottomOffset = 100
    const atBottom = ref(false)
    let initalScroll = true
    const scrollToBottom = () => {
      el.value.scrollTop = el.value.scrollHeight
    }
    const onScroll = e => {
      const { scrollTop, scrollHeight, clientHeight } = e.target
      atBottom.value = scrollHeight - scrollTop - clientHeight < bottomOffset
    }
    const toBottomTask = {
      symbol: null,
      fn (symbol) {
        root.$nextTick(() => {
          if (symbol === toBottomTask.symbol) scrollToBottom()
        })
      },
      start () {
        const symbol = Symbol('symbol')
        toBottomTask.symbol = symbol
        toBottomTask.fn(symbol)
      }
    }
    const imgOnLoad = () => {
      if (atBottom.value) {
        toBottomTask.start()
      }
    }
    watch(
      messages,
      () => {
        if (initalScroll && messages.value.length) { // 初始
          initalScroll = false
          toBottomTask.start()
        }
        if (atBottom.value) {
          toBottomTask.start()
        }
      },
      {
        flush: 'pre'
      }
    )
    return {
      el,
      user,
      status,
      messages,
      atBottom,
      onScroll,
      imgOnLoad,
      scrollToBottom,
      componentMap: {
        'image': 'Picture',
        'message': 'Message',
        'betrecord-sharing': 'BetrecordSharing',
        'prediction-sharing': 'PredictionSharing'
      },
      defaultAvatar: require('@/assets/user/avatar-default.png')
    }
  }
}
</script>

<style lang="scss" scoped>
@import "./chatroom.scss";
.chatroom-body-wrap {
  position: relative;
  .body {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    color: $white;
    padding: 15px;
    box-sizing: border-box;
  }
}
.status-body {
  text-align: center;
  margin-top: 20px;
}
.message {
  display: flex;
  &+& {
    margin-top: 10px;
  }
  .avatar {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 5px;
  }
  .content {
    border-radius: 0 5px 5px 5px;
  }
}
.message.self {
  justify-content: flex-end;
  .content {
    border-radius: 5px 0 5px 5px;
  }
}
.cover-block {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.go-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: auto;
}
// transition
.message-enter-active {
  transition: opacity 1s;
}
.message-enter {
  opacity: 0.7;
}
</style>
