<template>
  <div class="control-wrap">
    <div class="tool-bar">
      <red-envelope class="icon"></red-envelope>
      <image-uploader class="icon"></image-uploader>
      <sticker  class="icon"></sticker>
      <div class="stem" />
      <v-button
        class="button"
        :disabled="messageInValid"
        @click="sendMsg"
      >
        发送
      </v-button>
    </div>
    <div class="input-area">
      <textarea
        class="textarea"
        v-model="message"
        @keypress="onKeyPress"
      ></textarea>
    </div>
    <div v-if="status === 'disabled'" class="disabled-cover" />
  </div>
</template>

<script>
import RedEnvelope from './tools/RedEnvelope'
import ImageUploader from './tools/ImageUploader'
import Sticker from './tools/Sticker'
import VButton from '@/components/Button'
import { useStore } from '@/hooks'
import { ref, computed } from '@vue/composition-api'

export default {
  name: 'ChatroomControl',
  components: {
    RedEnvelope,
    ImageUploader,
    Sticker,
    VButton
  },
  setup () {
    const store = useStore()
    const ws = computed(() => store.value.state.chatroom.ws)
    const status = computed(() => store.value.state.chatroom.status)
    const message = ref('')

    const messageInValid = computed(() => message.value.trim() === '')
    const sendMsg = () => {
      if (messageInValid.value) return
      ws.value.send({
        type: 'message',
        content: message.value
      })
      message.value = ''
    }
    const onKeyPress = (e) => {
      if (e.keyCode === 13) {
        e.preventDefault()
        sendMsg()
      }
    }
    return {
      status,
      message,
      messageInValid,
      sendMsg,
      onKeyPress
    }
  }
}
</script>

<style lang="scss" scoped>
.control-wrap {
  width: 100%;
  height: 100px;
  background-color: $nav-active-color;
  position: relative;
  display: flex;
  flex-direction: column;
}
.disabled-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .1);
  cursor: not-allowed;
}
.tool-bar {
  color: #5b6c8b;
  flex: 0 0 30px;
  padding: 0 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  .icon {
    height: 24px;
    margin-right: 5px;
  }
  .stem {
    flex-grow: 1;
  }
}
.input-area {
  flex: 1 1 0;
  padding: 0 10px 5px 10px;
}
.textarea {
  font: inherit;
  color: $white;
  background-color: #5b6c8b;
  resize: none;
  padding: 5px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  &:focus {
    outline: none;
  }
  &:disabled {
    color: #999;
  }
}
</style>
