<template>
  <div class="chatroom">
    <chatroom-body class="body" />
    <chatroom-control />
  </div>
</template>

<script>
import ChatroomBody from './Body.vue'
import ChatroomControl from './Control.vue'
import { computed, watch } from '@vue/composition-api'
import { useStore } from '@/hooks'
import { EagleWs } from '@/ws/eagle'

export default {
  name: 'Chatroom',
  components: {
    ChatroomBody,
    ChatroomControl
  },
  props: {
    gameId: {
      type: String,
      default: ''
    }
  },
  setup () {
    const store = useStore()
    const token = computed(() => store.value.state.token.eagle)
    const ws = computed(() => store.value.state.chatroom.ws)
    watch(() => {
      if (token.value && !ws.value) {
        /* ====測試用==== */
        const fakeRoomId = 88 // staging
        // const fakeRoomId = 1672 // pre-production
        /* ============= */
        const ws = new EagleWs(token.value, fakeRoomId)
        store.value.commit('chatroom/setWs', ws)
      }
    })
    return { token }
  }
}
</script>

<style lang="scss" scoped>
.chatroom {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid $nav-active-color;
  .body {
    flex: 1 1 0;
  }
}
</style>
