<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <% if (htmlWebpackPlugin.options.host) { %>
      <link rel="preconnect" href="<%=htmlWebpackPlugin.options.host%>">
    <% } %>
    <link rel="preconnect" href="https://img1.clzud.com">
    <title><%= htmlWebpackPlugin.options.title%></title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script>
      window.company = <%= (htmlWebpackPlugin.options.companyId) %>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    </script>
    <!--[if lte IE 9]>
    <link href="./static/blocker.css" rel="stylesheet" type="text/css"/>
    <script src="./static/blocker.js" type="text/javascript"></script>
    <![endif]-->
  </head>
  <body class="default-theme">
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
