<template>
  <component :is="layout">
    <router-view/>
  </component>
</template>

<script>
import { computed } from '@vue/composition-api'
import Default from '@/layouts/Default'
import Simplify from '@/layouts/Simplify'

const defaultLayout = Default.name

export default {
  name: 'app',
  components: {
    Default,
    Simplify
  },
  setup (props, { root }) {
    const layout = computed(() => {
      if (root.$route.meta) {
        return root.$route.meta.layout || defaultLayout
      } else {
        return defaultLayout
      }
    })
    return {
      layout
    }
  }
}
</script>

<style lang="scss">
@import "~@/style/reset.css";
@import "~@/style/base.scss";
@import "~@/style/element.scss";
@import '~@/style/common/popup';
</style>
