<template>
  <div>
    <app-header />
    <div class="app-container">
      <navigation />
      <div class="view">
        <marquee />
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
import Navigation from '@/components/Navigation'
import AppHeader from '@/components/Header'
import Marquee from '@/components/Marquee'

export default {
  name: 'default',
  components: {
    Navigation,
    AppHeader,
    Marquee
  }
}
</script>

<style lang="scss">
.app-container {
  height: calc(100vh - #{$header-height});
  display: flex;
  .view {
    overflow-y: auto;
    width: calc(100% - 177px);
  }
}
@media only screen and (max-width: 1280px) {
  .app-container {
    .view {
      width: calc(100% - 70px);
    }
  }
}
</style>
