<template>
  <div
    class="group-block"
    :style="{
      width: calcColwidth(config.groupCol),
      'margin-right':  (index+1)%config.groupCol === 0 ? 0 : '7px',
      'margin-bottom': (index+1)>(config.groupCount - config.groupCol) ? 0 : '7px' }">
    <div class="group-block-title" v-if="!noTitle">{{playGroup.length}}{{playGroup.display_name}}</div>
    <div
      :style="{
        width: calcColwidth(config.playCol),
        'margin-right':  (playIdx+1)%config.playCol === 0 ? 0 : '7px',
        'margin-bottom': (playIdx+1)>(playGroup.plays.length - config.playCol) ? 0 : '7px' }"
      :class="['group-block-item', { active: plays[play.id] ? plays[play.id].active && !gameClosed : false}]"
      v-for="(play, playIdx) in playGroup.plays"
      :key="playIdx"
      @click="selectPlay(play.id)">
        <template v-if="play.code">
          <div class="name" v-if="play.value||!play.display_name.match(isNum)">{{play.display_name}}</div>
          <div
            v-else
            :class="`name play result-${game.type} resultnum-${formatNum(play.display_name)}`">
          </div>
        </template>
        <div class="odds">
          <i class="odds-text">{{ gameClosed ? '-' : play.odds }}</i>
        </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PlayGroup',
  props: {
    playGroup: Object,
    config: Object,
    gameClosed: {
      type: Boolean
    },
    plays: Object,
    game: Object,
    index: Number,
    noTitle: {
      type: Boolean,
      default: false
    }
  },
  setup (props, { emit }) {
    const calcColwidth = (playCol) => {
      return `calc((100% - ${(playCol - 1) * 7}px)/${playCol})`
    }
    const selectPlay = (id) => {
      emit('selectPlay', id)
    }

    const formatNum = numStr => {
      const isMark6 = props.game.type === 'mark6'
      if (isMark6 && numStr[0] === '0') { // 六合彩 '01' -> '1'
        numStr = numStr.slice(1)
      }
      return numStr
    }

    return {
      calcColwidth,
      isNum: /^\d+$/,
      formatNum,
      selectPlay
    }
  }
}
</script>

<style lang="scss" scoped>
.group-block {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}
.group-block-title {
  color: #7f98b3;
  width: 100%;
  height: 28px;
  text-align: center;
  line-height: 28px;
}
.group-block-item {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  border-radius: 5px;
  background-color: #fff;
  border: 1px solid #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  .name {
    color: #5b6c8b;
  }
  .odds {
    margin-left: 10px;
    color: $red;
  }
  &:hover:not(.active) {
    background: #55627d;
    .name {
      color: #fff;
    }
  }
  &.active {
    border-color: $blue;
    background: $blue;
    .name {
      color: #fff;
    }
  }
}
</style>
