<template>
  <div class="betrecord-sharing">
    <div class="header">
      <img class="icon" v-if="icon" :src="icon" :alt="info.display_name"/>
      <div class="info">
        <div class="title">{{info.display_name}}</div>
        <div class="issue-number">{{info.issue_number}}期</div>
      </div>
      <v-button class="button" @click="openBetDialog">跟单</v-button>
    </div>
    <div class="content">
      <ul class="bet-group">
        <li class="bet-group-item" v-for="(bet, index) in info.bets" :key="index">
          <div class="item">
            <div class="label">{{`${bet.play.playgroup} - ${bet.play.display_name}`}}</div>
            <div class="amount">{{'￥' + bet.bet_amount}}</div>
          </div>
          <div class="options" v-if="bet.bet_options&&bet.bet_options.options">
            {{`已选号码：${bet.bet_options.options.join(',')}`}}
          </div>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import VButton from '@/components/Button'
import { computed } from '@vue/composition-api'

export default {
  name: 'Message-BetrecordSharing',
  components: {
    VButton
  },
  props: {
    content: String
  },
  setup (props, { root }) {
    const info = computed(() => JSON.parse(props.content))
    const games = computed(() => root.$store.state.game.games)
    const icon = computed(() => {
      const game = games.value.find(game => game.code === info.value.game_code)
      return game ? game.icon : null
    })
    const openBetDialog = () => {
      window.alert('open bet dialog')
    }
    return {
      info,
      icon,
      openBetDialog
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../chatroom.scss";
.betrecord-sharing {
  width: $content-width;
  background-color: $white;
  color: $dark;
  padding: $card-padding;
}
.header {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
  .icon {
    width: 35px;
    height: 35px;
    margin-right: 5px;
  }
  .info {
    flex-grow: 1;
    .title {
      font-weight: normal;
    }
  }
}

.betrecord-sharing .content {
  width: 100%;
  border-top: 1px dashed;
  padding-top: 2px;
}
.bet-group-item {
  .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .options {
    padding-left: 10px;
  }
  .amount {
    flex: 0 0 auto;
    width: 60px;
  }
}
</style>
