<template>
  <div class="prediction-sharing">
    <div class="name">{{ info.display_name }}</div>
    <div class="content">{{ info.predictions }}</div>
  </div>
</template>

<script>
import { computed } from '@vue/composition-api'

export default {
  name: 'Message-PredictionSharing',
  props: {
    content: String
  },
  setup (props) {
    return {
      info: computed(() => JSON.parse(props.content))
    }
  }
}
</script>

<style lang="scss" scoped>
@import "../chatroom.scss";
.prediction-sharing {
  width: $content-width;
  background-color: $blue;
  color: $white;
  padding: $card-padding;
  white-space: pre-wrap;
  .name {
    font-weight: normal;
  }
}
</style>
