<template>
  <div class="gamehall-container">
    <game-menu :gameGroups="gameGroups" :games="games" :currentGame="currentGame"/>
    <div class="content">
      <router-view :key="currentGameId"/>
    </div>
    <div class="result-panel"></div>
    <chatroom class="chatroom" />
    <bet-dialog :visible.sync="betDialogVisible"/>
  </div>
</template>

<script>
import { computed, watch, ref } from '@vue/composition-api'
import Chatroom from '@/components/Chatroom'
import GameMenu from './components/GameMenu'
import BetDialog from './components/BetDialog'
import '@/style/resultball.scss'

export default {
  name: 'GameHall',
  components: {
    GameMenu,
    Chatroom,
    BetDialog
  },
  setup (props, { root }) {
    const gameGroups = computed(() => {
      return root.$store.state.game.classification
    })

    const games = computed(() => {
      return root.$store.state.game.games
    })

    const currentGameId = computed(() => {
      return root.$route.params.gameId
    })

    const chooseGame = () => {
      const gameId = root.$store.state.game.lastGameData.lastGame || games.value[0].id
      root.$router.replace({ path: '/game/' + gameId })
    }

    watch(() => root.$route, (to, from) => {
      if (to.path === '/game') {
        chooseGame()
      }
    }, { lazy: true })

    if (!currentGameId.value) {
      if (games.value.length > 0) {
        chooseGame()
      } else {
        const stop = watch(games, () => {
          chooseGame()
          stop()
        }, { lazy: true })
      }
    }

    const currentGame = computed(() => root.$store.getters['game/currentGame'] || {})

    const betDialogVisible = ref(false)

    return {
      gameGroups,
      games,
      currentGame,
      currentGameId,
      betDialogVisible
    }
  }
}
</script>

<style lang="scss" scoped>
.gamehall-container {
  box-sizing: border-box;
  padding-top: 30px;
  width: 1110px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 0 auto;
}

.result-panel {
  width: 315px;
  height: 170px;
  margin-bottom: 15px;
  background: #3f4c64;
}
.content {
  height: calc(100% - 15px - 75px);
  width: 780px;
  margin-right: 15px;
  background: #3f4c64;
  overflow: auto;
}
.chatroom {
  height: calc(100% - 15px - 170px);
  width: 315px;
  background: #232832;
}
</style>
